<ion-view title="Albany R Destinations" hide-nav-bar="true" id="page51" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="albanyRDestinations-heading129" style="color:#FFFFFF;text-align:center;">ALBANY R DESTINATIONS</h5>
    <div id="albanyRDestinations-button-bar49" class="button-bar">
      <a ui-sref="allAlbanyDestinations()" id="albanyRDestinations-button148" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedAlbany()" id="albanyRDestinations-button149" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="albanyRDestinations-list83">
      <ion-item class="item-icon-right energized fare-list-item" id="albanyRDestinations-list-item496" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Rainier,+OR/@45.3744707,-124.0003948,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54946bc3edd09cd1:0x1c1d075ba7681f3c!2m2!1d-122.9359008!2d46.0891013!3e0?hl=en">Rainier
        <span class="item-note">$300</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyRDestinations-list-item497" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Redmond,+OR/@44.5294587,-122.6999785,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54b8d4d44e8c51bb:0x9438d260c06b7918!2m2!1d-121.1739212!2d44.2726203!3e0?hl=en">Redmond
        <span class="item-note">$300</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="albanyRDestinations-list82">
        <ion-item class="item-icon-right energized fare-list-item" id="albanyRDestinations-list-item498" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Reedsport,+OR/@44.1376753,-124.1401653,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c3c3b9ac656e47:0x7b79c93b5e4b888!2m2!1d-124.0967779!2d43.7023389!3e0?hl=en">Reedsport
          <span class="item-note">$325</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyRDestinations-list-item499" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Rickreall,+OR/@44.7913473,-123.2573548,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54eaa9e41937d025:0x9450b07d56cb43ca!2m2!1d-123.2351038!2d44.9322825!3e0?hl=en">Rickreall
          <span class="item-note">$70</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyRDestinations-list-item289" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Riddle,+OR/@43.7899623,-124.3109664,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c44ae3c7f9f679:0x4ccec21594bae53d!2m2!1d-123.3642332!2d42.9509507!3e0?hl=en">Riddle
          <span class="item-note">$360</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyRDestinations-list-item500" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Rivergrove,+OR/@45.0151257,-123.4787447,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x549572f388721005:0x479c0f4eda4b5c68!2m2!1d-122.7307318!2d45.3861513!3e0?hl=en">Rivergrove (PDX)
          <span class="item-note">$235</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyRDestinations-list-item619" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Riverside,+OR/@44.6221113,-123.1487438,14z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c06adb0bfda321:0x697111151360a99a!2m2!1d-123.1575962!2d44.6067883!3e0?hl=en">Riverside (Linn)
          <span class="item-note">$12-$25</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyRDestinations-list-item501" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Rockaway+Beach,+OR/@45.1442514,-123.9060901,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x5494cc81e6ee733b:0x4e2cbbb21e20c98d!2m2!1d-123.9429115!2d45.613438!3e0?hl=en">Rockaway Beach
          <span class="item-note">$265</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyRDestinations-list-item502" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Rogue+River,+OR/@43.525249,-124.3207719,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c584e9d36e8ab5:0x2a0ba4dc53615704!2m2!1d-123.1719976!2d42.435954!3e0?hl=en">Rogue River
          <span class="item-note">$435</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyRDestinations-list-item503" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Roseburg,+OR/@43.9268491,-123.7449671,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c422c54b5959cd:0x5fa45e16d7c2fd91!2m2!1d-123.3417381!2d43.216505!3e0?hl=en">Roseburg
          <span class="item-note">$270</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyRDestinations-list-item480" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Rosedale,+OR/@44.7549762,-123.1887994,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c006595745fe4b:0x715d6e5c558fbae8!2m2!1d-123.0614847!2d44.8545647!3e0?hl=en">Rosedale (Marion)
          <span class="item-note">$50</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div id="albanyRDestinations-markdown20" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:10px;">All pricing is based roughly on a $2.50 per mile surcharge, a $3.00 flag drop or show up fee, and other mitigating factors such as distance, metropolitan areas, mountain passes, etc.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>