<ion-view title="Albany D Destinations" hide-nav-bar="true" id="page38" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="albanyDDestinations-heading116" style="color:#FFFFFF;text-align:center;">ALBANY D DESTINATIONS</h5>
    <div id="albanyDDestinations-button-bar36" class="button-bar">
      <a ui-sref="allAlbanyDestinations()" id="albanyDDestinations-button122" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedAlbany()" id="albanyDDestinations-button123" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="albanyDDestinations-list57">
      <ion-item class="item-icon-right energized fare-list-item" id="albanyDDestinations-list-item364" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Dallas,+OR/@44.7783584,-123.3783541,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54eaa7d81be20d83:0x3f0cf3d12c451470!2m2!1d-123.3170472!2d44.9192844!3e0?hl=en">Dallas
        <span class="item-note">$80</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyDDestinations-list-item365" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Damascus,+OR/@45.494938,-122.6664432,10.5z/data=!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54959c6de4e76837:0x93db4f95f1c80089!2m2!1d-122.4589783!2d45.4176209!3e0?hl=en">Damascus (Metro)
        <span class="item-note">$245</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyDDestinations-list-item298" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Dayton,+OR/@44.9285349,-123.3870515,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x5495442d5a9873cf:0xdaab638d07be3397!2m2!1d-123.0835549!2d45.2163886!3e0?hl=en">Dayton
        <span class="item-note">$125</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyDDestinations-list-item585" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Dawson,+OR/@44.4998679,-123.3954947,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c0528fc209c39d:0x7752c5ad77caf4ec!2m2!1d-123.410556!2d44.360833!3e0?hl=en">Dawson (Benton)
        <span class="item-note">$100</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="albanyDDestinations-list56">
        <ion-item class="item-icon-right energized fare-list-item" id="albanyDDestinations-list-item366" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Deerhorn,+OR/@44.3440561,-123.3034847,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c0c289e268cddb:0x10d9aead97255675!2m2!1d-122.74722!2d44.08194!3e0?hl=en">Deerhorn (Lane)
          <span class="item-note">$155</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyDDestinations-list-item299" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Depoe+Bay,+OR/@44.8057082,-123.8667765,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54ea7d5886582913:0xfdbc8343127bfd2f!2m2!1d-124.0631713!2d44.8084467!3e0?hl=en">Depoe Bay
          <span class="item-note">$190</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyDDestinations-list-item367" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Detroit,+OR/@44.7716592,-122.906009,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54bfa3a7b5daf39b:0xa9891ea95df07c0c!2m2!1d-122.1497982!2d44.7340108!3e0?hl=en">Detroit
          <span class="item-note">$135</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyDDestinations-list-item368" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Donald,+OR/@44.9298015,-123.2308683,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x549567e217404bc3:0x931e446941c893ed!2m2!1d-122.8392624!2d45.2223418!3e0?hl=en">Donald
          <span class="item-note">$125</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyDDestinations-list-item369" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Drain,+OR/@44.1495977,-123.7227119,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c14c28d28d721f:0xddcd4f6ab1b9db23!2m2!1d-123.3186987!2d43.6587309!3e0?hl=en">Drain
          <span class="item-note">$200</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyDDestinations-list-item370" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Dufur,+OR/@45.1696753,-122.6548443,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54bdf068c8e8d63f:0xbe29d084c6b88cd7!2m2!1d-121.1306244!2d45.4531754!3e0?hl=en">Dufur
          <span class="item-note">$420</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyDDestinations-list-item371" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Dundee,+OR/@44.9696427,-123.2791477,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x5495410a8482f90d:0xf05d52e84b3b53bc!2m2!1d-123.0095137!2d45.2795854!3e0?hl=en">Dundee
          <span class="item-note">$155</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyDDestinations-list-item372" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Dunes+City,+OR/@44.261808,-124.1432327,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c3d4303010e95b:0xb4c313771129f70d!2m2!1d-124.1151165!2d43.8831751!3e0?hl=en">Dunes City
          <span class="item-note">$280</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyDDestinations-list-itema372" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Dunthorpe,+OR/@45.0347474,-123.3947536,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x549574c46cc77103:0x1f088f63b884168e!2m2!1d-122.6550941!2d45.4356748!3e0?hl=en">Dunthorpe &#40;Metro&#41;
          <span class="item-note">$290</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyDDestinations-list-item373" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Durham,+OR/@45.0153442,-123.5481352,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x549572eadacdfde1:0xeedb816112025b27!2m2!1d-122.755576!2d45.3934963!3e0?hl=en">Durham
          <span class="item-note">$235</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/driversNoSmokingSign.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto; max-width: 400px;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>