<ion-view title="Albany H Destinations" hide-nav-bar="true" id="page42" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="albanyHDestinations-heading120" style="color:#FFFFFF;text-align:center;">ALBANY H DESTINATIONS</h5>
    <div id="albanyHDestinations-button-bar40" class="button-bar">
      <a ui-sref="allAlbanyDestinations()" id="albanyHDestinations-button130" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedAlbany()" id="albanyHDestinations-button131" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="albanyHDestinations-list65">
      <ion-item class="item-icon-right energized fare-list-item" id="albanyHDestinations-list-item405" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Halsey,+OR/@44.5118868,-123.2214954,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c05963fb8b8651:0x95a12d8c1acf7aff!2m2!1d-123.1098145!2d44.3840122!3e0?hl=en">Halsey
        <span class="item-note">$50</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyHDestinations-list-item406" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Happy+Valley,+OR/@45.0403404,-123.378812,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54959e1634949403:0xfa241df61eb192a0!2m2!1d-122.5309127!2d45.4469139!3e0?hl=en">Happy Valley
        <span class="item-note">$250</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="albanyHDestinations-list64">
        <ion-item class="item-icon-right energized fare-list-item" id="albanyHDestinations-list-item407" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Harris,+OR/@44.5915824,-123.3523522,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c039d92d152857:0xf91e13329f64b487!2m2!1d-123.4601035!2d44.5781755!3e0?hl=en">Harris (Benton)
          <span class="item-note">$75</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyHDestinations-list-item594" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Harrisburg,+OR/@44.456546,-123.396219,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c0f762b218dcf5:0x66fe778e91281c5b!2m2!1d-123.170648!2d44.2740123!3e0?hl=en">Harrisburg
          <span class="item-note">$60</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyHDestinations-list-item637" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Hayesville,+OR/@44.8113597,-123.1844841,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bffdc52af0526b:0x71bc327c8223ef0!2m2!1d-122.9828732!2d44.985953!3e0?hl=en">Hayesville (Marion)
          <span class="item-note">$65</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyHDestinations-list-item408" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Heppner,+OR/@45.0222019,-122.4507974,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bcde9fefa0ff5f:0x8c43eb5baecaeb35!2m2!1d-119.5577997!2d45.3531842!3e0?hl=en">Heppner
          <span class="item-note">$550</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyHDestinations-list-item409" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Hermiston,+OR/@45.0498796,-122.3187573,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54a2b9026e29d2d7:0x82ea06f10bd63cbb!2m2!1d-119.2894604!2d45.8404101!3e0?hl=en">Hermiston
          <span class="item-note">$570</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyHDestinations-list-item410" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Hillsboro,+OR/@45.0771019,-123.4851179,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x5495055f56bce579:0x7d29ff866a33ed86!2m2!1d-122.9365835!2d45.5200114!3e0?hl=en">Hillsboro
          <span class="item-note">$245</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyHDestinations-list-item411" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Hines,+OR/@44.045589,-122.2142933,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54b0a9917b999775:0x316703cd20fbb43c!2m2!1d-119.0810481!2d43.5640385!3e0?hl=en">Hines
          <span class="item-note">$565</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyHDestinations-list-item607" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Holley,+OR/@44.4949873,-123.0845991,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c08bbf397c559d:0x32daaa81e2fd4236!2m2!1d-122.7838197!2d44.3547389!3e0?hl=en">Holley (Linn)
          <span class="item-note">$70</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyHDestinations-list-item412" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Hood+River,+OR/@45.1733033,-122.8695115,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54960e614c1c0fe7:0x56f6cf7e4d7d985c!2m2!1d-121.5214623!2d45.7053966!3e0?hl=en">Hood River
          <span class="item-note">$315</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyHDestinations-list-item595" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Hoskins,+OR/@44.6451543,-123.4242364,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c03b504ab27b0f:0x2503cbf9ef3d652e!2m2!1d-123.4674999!2d44.676944!3e0?hl=en">Hoskins (Benton)
          <span class="item-note">$80</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyHDestinations-list-item413" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Hubbard,+OR/@44.9090824,-123.2292263,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x5495594264fc0fef:0x11e54ab22802530b!2m2!1d-122.8078717!2d45.1823423!3e0?hl=en">Hubbard
          <span class="item-note">$110</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyHDestinations-list-itema90" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Huntington,+OR/@44.6579097,-122.2839604,7z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54a516aee7c54a2b:0xeea7b3dafb090f58!2m2!1d-117.2665686!2d44.3512726!3e0?hl=en">Huntington
          <span class="item-note">$840</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="../img/white_cabbie.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto; max-width: 300px;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>