<ion-view title="Albany A Destinations" hide-nav-bar="true" id="page35" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true"
    style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover; background-color:#000000"
    class="manual-ios-statusbar-padding">
    <div class="max-container">
      <div>
        <img src="../img/FAREPRICEICON.png"
          style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h5 id="albanyADestinations-heading112" style="color:#FFFFFF;text-align:center;">ALBANY A DESTINATIONS</h5>
      <div id="albanyADestinations-button-bar33" class="button-bar">
        <a ui-sref="allAlbanyDestinations()" id="albanyADestinations-button116"
          class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
        <a ui-sref="frequentlyUsedAlbany()" id="albanyADestinations-button117"
          class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
      </div>
      <div class="spacer" style="height: 20px;"></div>
      <ion-list id="albanyADestinations-list51">
        <ion-item class="item-icon-right energized fare-list-item" id="albanyADestinations-list-item322"
          href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR+97321,+USA/Adair+Village,+OR+97330">Adair
          Village
          <span class="item-note">$40</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyADestinations-list-item276"
          href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR+97321,+USA/Agate+Beach,+Newport,+OR">Agate Beach
          <span class="item-note">$200</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyADestinations-list-item275"
          href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Airlie,+OR">
          Airlie (Polk)
          <span class="item-note">$55</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyADestinations-list-item575"
          href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Alder,+OR">
          Alder (Benton)
          <span class="item-note">$85</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyADestinations-list-item274"
          href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Aloha,+OR/@45.0642376,-123.5468916,9z/data=!3m1!4b1!4m17!4m16!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54950e1a8eb291ef:0x77e51e5dcba26b64!2m2!1d-122.8670454!2d45.4942838!2m2!2b1!3b1!3e0?hl=en">
          Aloha (Metro)
          <span class="item-note">$245</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyADestinations-list-item576"
          href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Alpine,+OR/@44.4845368,-123.3730162,11z/data=!3m1!4b1!4m17!4m16!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c0530ba212554f:0xc0c34bc81585b5eb!2m2!1d-123.3603768!2d44.3301223!2m2!2b1!3b1!3e0?hl=en">
          Alpine (Benton)
          <span class="item-note">$90</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyADestinations-list-item577"
          href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Alsea,+OR/@44.512458,-123.488733,11z/data=!3m1!4b1!4m17!4m16!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c1b0e40f6796b3:0x6a9f11246338321c!2m2!1d-123.5970325!2d44.3818831!2m2!2b1!3b1!3e0?hl=en">
          Alsea (Benton)
          <span class="item-note">$90</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyADestinations-list-item323"
          href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Amity,+OR/@44.8755237,-123.3870515,10z/data=!3m1!4b1!4m17!4m16!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54954d6c6799c695:0xf065f26595ff983c!2m2!1d-123.2073257!2d45.1156724!2m2!2b1!3b1!3e0?hl=en">
          Amity
          <span class="item-note">$90</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyADestinations-list-item324"
          href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Arlington,+OR/@45.644225,-120.0837367,10.25z/data=!4m17!4m16!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54bd660ef7e51b29:0x9d38346ba96993f2!2m2!1d-120.2008761!2d45.716796!2m2!2b1!3b1!3e0?hl=en">
          Arlington
          <span class="item-note">$495</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyADestinations-list-item329"
          href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Ashland,+OR/@43.4057628,-123.6968343,8z/data=!3m1!4b1!4m17!4m16!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54cf628cb4eedb55:0x9b3b1fb8782df1ad!2m2!1d-122.7094767!2d42.1945758!2m2!2b1!3b1!3e0?hl=en">
          Ashland
          <span class="item-note">$500</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyADestinations-list-item325"
          href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Astoria,+OR/@45.4105208,-124.4119681,8z/data=!3m1!4b1!4m17!4m16!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54937b440995fb8b:0xf7dd72f1a11b8abf!2m2!1d-123.8312534!2d46.1878841!2m2!2b1!3b1!3e0?hl=en">
          Astoria
          <span class="item-note">$375</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyADestinations-list-item326"
          href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Athena,+OR/@45.3094352,-121.9174993,8z/data=!3m1!4b1!4m17!4m16!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54a257b57395cf9d:0x456faa7b208b1e22!2m2!1d-118.4905251!2d45.8117992!2m2!2b1!3b1!3e0?hl=en">
          Athena
          <span class="item-note">$690</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyADestinations-list-item327"
          href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Aumsville,+OR/@44.7757565,-123.1234238,11z/data=!3m1!4b1!4m17!4m16!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54bff7044292ccc9:0xa00c6d0e988c26a0!2m2!1d-122.8709243!2d44.8409548!2m2!2b1!3b1!3e0?hl=en">
          Aumsville
          <span class="item-note">$75</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyADestinations-list-item328"
          href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Aurora,+OR/@44.9352855,-123.2092849,10z/data=!3m1!4b1!4m17!4m16!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x5495658d4c1b2c1d:0x28a452aabedfcf4!2m2!1d-122.7559267!2d45.2309536!2m2!2b1!3b1!3e0?hl=en">
          Aurora
          <span class="item-note">$140</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyADestinations-list-itemA121"
          href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Azalea,+OR/@43.7140089,-124.3110011,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c5ba0d1276f27f:0xb2f8ef45b62bf3e2!2m2!1d-123.2603401!2d42.7953981!3e0?hl=en">
          Azalea
          <span class="item-note">$350</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
      <div class="spacer" style="height: 20px;"></div>
      <div id="albanyADestinations-markdown26" style="text-align:justify;" class="show-list-numbers-and-dots">
        <p style="color:#FFFFFF;font-size:12px;">If you are uncertain about the location of the destination, just tap
          the destination again and Google Maps will show you the way.</p>
      </div>
      <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>
