<ion-view title="Albany P Destinations" hide-nav-bar="true" id="page50" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="albanyPDestinations-heading128" style="color:#FFFFFF;text-align:center;">ALBANY P DESTINATIONS</h5>
    <div id="albanyPDestinations-button-bar48" class="button-bar">
      <a ui-sref="allAlbanyDestinations()" id="albanyPDestinations-button146" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedAlbany()" id="albanyPDestinations-button147" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="albanyPDestinations-list81">
      <ion-item class="item-icon-right energized fare-list-item" id="albanyPDestinations-list-item487" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Pendleton,+OR/@45.0493246,-122.0674266,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54a2e143d6f4685b:0xa1431081cc39651c!2m2!1d-118.7885967!2d45.672075!3e0?hl=en">Pendleton
        <span class="item-note">$735</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyPDestinations-list-item617" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Peoria,+OR/@44.5457945,-123.3217507,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c044d01237f371:0xdfcc914eade6afc9!2m2!1d-123.2073187!2d44.4487336!3e0?hl=en">Peoria (Linn)
        <span class="item-note">$45</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyPDestinations-list-item488" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Philomath,+OR/@44.5915824,-123.3061014,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c03778881c5cdd:0x466e24dd32072cd6!2m2!1d-123.3676014!2d44.540121!3e0?hl=en">Philomath
        <span class="item-note">$45</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="albanyPDestinations-list80">
        <ion-item class="item-icon-right energized fare-list-item" id="albanyPDestinations-list-item489" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Phoenix,+OR/@43.4521485,-123.6968338,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54cf78e17ae61e11:0xf93799f2d11134a7!2m2!1d-122.818092!2d42.2754058!3e0?hl=en">Phoenix
          <span class="item-note">$520</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyPDestinations-list-item490" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Pilot+Rock,+OR/@45.0493246,-122.0675603,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54a3238d40ffad37:0xfc17de6d463962a4!2m2!1d-118.8299848!2d45.4831849!3e0?hl=en">Pilot Rock
          <span class="item-note">$740</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyPDestinations-list-item491" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Portland,+OR/@45.0749428,-123.4499943,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54950b0b7da97427:0x1c36b9e6f6d18591!2m2!1d-122.6793461!2d45.5154586!3e0?hl=en">Portland Metro Area
          <span class="item-note">$225-$275</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyPDestinations-list-item492" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Port+Orford,+OR/@43.6889543,-124.8728479,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c4ceffa19a8e71:0xa198b7e548bab16f!2m2!1d-124.4973267!2d42.7456644!3e0?hl=en">Port Orford
          <span class="item-note">$490</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyPDestinations-list-item493" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Powers,+OR/@43.7758891,-124.7477423,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c4efc94062ace3:0x7bb144eae600c0c!2m2!1d-124.073152!2d42.8834435!3e0?hl=en">Powers
          <span class="item-note">$470</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyPDestinations-list-item494" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Prairie+City,+OR/@44.9746498,-122.0290029,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bafe14999a0453:0x323f154572634beb!2m2!1d-118.7099477!2d44.4632135!3e0?hl=en">Prairie City
          <span class="item-note">$600</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyPDestinations-list-item656" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Pratum,+OR/@44.7977986,-123.1317974,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bffb7e4671fea9:0xd5a8fbcf69af2c00!2m2!1d-122.8774999!2d44.95917!3e0?hl=en">Pratum (Marion)
          <span class="item-note">$70</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyPDestinations-list-item495" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Prineville,+OR/@44.4176588,-122.530494,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54b93242c69c625d:0xff79fca183b4ef0c!2m2!1d-120.8344664!2d44.2998485!3e0?hl=en">Prineville
          <span class="item-note">$350</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div id="albanyPDestinations-markdown22" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:10px;">If you are uncertain about the location of the destination, just tap the destination and let Google show you the way.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>