<ion-view title="Albany C Destinations" hide-nav-bar="true" id="page37" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="albanyCDestinations-heading115" style="color:#FFFFFF;text-align:center;">ALBANY C DESTINATIONS</h5>
    <div id="albanyCDestinations-button-bar35" class="button-bar">
      <a ui-sref="allAlbanyDestinations()" id="albanyCDestinations-button120" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedAlbany()" id="albanyCDestinations-button121" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="albanyCDestinations-list55">
      <ion-item class="item-icon-right energized fare-list-item" id="albanyCDestinations-list-item342" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Canby,+OR/@44.9492494,-123.1695095,10z/data=!3m1!4b1!4m17!4m16!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x5495646375ceb84f:0x110fdcab2e1cddd4!2m2!1d-122.6921558!2d45.262205!2m2!2b1!3b1!3e0?hl=en">Canby
        <span class="item-note">$125</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyCDestinations-list-item343" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Cannon+Beach,+OR/@45.2869748,-123.9132732,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x5494a52740cfce5d:0x1bfe4f4cea593a21!2m2!1d-123.9615274!2d45.8917738!3e0?hl=en">Cannon Beach
        <span class="item-note">$300</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="albanyCDestinations-list54">
        <ion-item class="item-icon-right energized fare-list-item" id="albanyCDestinations-list-item344">Canyon City
          <span class="item-note">$610</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyCDestinations-list-item345" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Canyonville,+OR/@43.7779818,-124.3109666,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c5b563adc8c2af:0x21c4afd08181f221!2m2!1d-123.2811748!2d42.9273406!3e0?hl=en">Canyonville
          <span class="item-note">$330</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyCDestinations-list-item346" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Carlton,+OR/@44.9786822,-123.3658789,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54953862facf54f5:0x39078b8decf0344!2m2!1d-123.1796697!2d45.2942902!3e0?hl=en">Carlton
          <span class="item-note">$145</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyCDestinations-list-item347" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Cascade+Locks,+OR/@45.1520153,-123.0569335,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x5495e7382ff24e5f:0x80ce953af858268b!2m2!1d-121.8906355!2d45.6698392!3e0?hl=en">Cascade Locks
          <span class="item-note">$360</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyCDestinations-list-item602" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Cascadia,+OR/@44.4949873,-122.9335657,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c0838c4efe6367:0x4cca84ce8084f2a8!2m2!1d-122.4847651!2d44.3966665!3e0?hl=en">Cascadia (Linn)
          <span class="item-note">$80</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyCDestinations-list-item348" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Cave+Junction,+OR/@43.3959362,-124.4495041,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54cff0eaa144ea39:0x2e0d1142815ae43!2m2!1d-123.6481235!2d42.1628912!3e0?hl=en">Cave Junction
          <span class="item-note">$475</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyCDestinations-list-item349" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Central+Point,+OR/@43.5020777,-123.6968332,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c58762798c208b:0xa30b4f381b5ddd70!2m2!1d-122.9164307!2d42.3759586!3e0?hl=en">Central Point
          <span class="item-note">$460</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyCDestinations-list-item390" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Cheshire,+OR/@44.4160433,-123.4800079,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c101bdd17da6eb:0x9f370e62f69ba4db!2m2!1d-123.2856507!2d44.1895675!3e0?hl=en">Cheshire (Lane)
          <span class="item-note">$100</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyCDestinations-list-item631" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Chiloquin,+OR/@43.6033067,-123.5511487,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c884462c7d4561:0x7b92d1cee7d126aa!2m2!1d-121.8661258!2d42.5776364!3e0?hl=en">Chiloquin
          <span class="item-note">$470</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyCDestinations-list-item351" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Clatskanie,+OR/@45.3746831,-124.0810921,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x549464d87b2e94f3:0x14a3ff5e8bccd9b6!2m2!1d-123.2039079!2d46.1041322!3e0?hl=en">Clatskanie
          <span class="item-note">$325</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyCDestinations-list-item632" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Clear+Lake,+Oregon/@44.4947304,-122.824937,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54bf685399b1d2b3:0x35bb998ee360feb8!2m2!1d-121.9943909!2d44.3686935!3e0?hl=en">Clear Lake  (Linn)
          <span class="item-note">$215</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyCDestinations-list-item352" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Coburg,+OR/@44.3881583,-123.363508,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c0e347c00aadad:0xc893f8d95013f9cf!2m2!1d-123.0664761!2d44.1370689!3e0?hl=en">Coburg
          <span class="item-note">$85</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyCDestinations-list-item353" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Columbia+City,+OR/@45.2637019,-123.5117675,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54944f9224c422b9:0x359ce14018eb9fba!2m2!1d-122.8119681!2d45.8932123!3e0?hl=en">Columbia City
          <span class="item-note">$315</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyCDestinations-list-item354" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Condon,+OR/@44.9855323,-122.7596938,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54bdabaad0acfc7f:0x940626b71d782b79!2m2!1d-120.1850344!2d45.2342966!3e0?hl=en">Condon
          <span class="item-note">$500</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyCDestinations-list-item355" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Coos+Bay,+OR">Coos Bay
          <span class="item-note">$390</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyCDestinations-list-item356" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Coquille,+OR/@43.7972433,-124.7477421,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c47d210a7e250f:0x771587395ddcf1bd!2m2!1d-124.1876075!2d43.1770544!3e0?hl=en">Coquille
          <span class="item-note">$425</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyCDestinations-list-item357" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Cornelius,+OR/@45.1073953,-123.5468915,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54953cd2e7ec96cb:0x679135cf0f5b7b3e!2m2!1d-123.0470343!2d45.5202273!3e0?hl=en">Cornelius
          <span class="item-note">$200</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyCDestinations-list-item358">Corvallis
          <span class="item-note">$35</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyCDestinations-list-item359" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Cottage+Grove,+OR/@44.2174079,-123.61443,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c1304c864c322d:0xba853c2b6e7b5fec!2m2!1d-123.0595246!2d43.797623!3e0?hl=en">Cottage Grove
          <span class="item-note">$150</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyCDestinations-list-item360" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Cove,+OR/@45.0493246,-121.5762536,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54a3841fb2f3105f:0x7f7ca273e96b13e1!2m2!1d-117.8079872!2d45.2965256!3e0?hl=en">Cove
          <span class="item-note">$800</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyCDestinations-list-item361" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Crabtree,+OR/@44.6237043,-123.0705572,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c072330260a767:0xec419d855b8ea179!2m2!1d-122.8986429!2d44.6353266!3e0?hl=en">Crabtree (Linn)
          <span class="item-note">$25</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyCDestinations-list-item604" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Crawfordsville,+OR/@44.4983738,-123.1450194,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c08add33c531df:0x7413d51cf30b6486!2m2!1d-122.8578637!2d44.357069!3e0?hl=en">Crawfordsville (Linn)
          <span class="item-note">$70</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyCDestinations-list-item362" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Creswell,+OR/@44.2775062,-123.6144298,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c123236edfc755:0x290bafe9076c4cb8!2m2!1d-123.0245261!2d43.9179023!3e0?hl=en">Creswell
          <span class="item-note">$115</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyCDestinations-list-item363" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Culver,+OR/@44.7377444,-122.6759261,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54bedcf7ff7ccc05:0xb8213c122e1e4a7a!2m2!1d-121.2130974!2d44.5256753!3e0?hl=en">Culver
          <span class="item-note">$355</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img class="border" src="../img/PRIDE-IN-SERVICE.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto; max-width: 300px;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>
