<ion-view title="Albany G Destinations" hide-nav-bar="true" id="page41" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="albanyGDestinations-heading119" style="color:#FFFFFF;text-align:center;">ALBANY G DESTINATIONS</h5>
    <div id="albanyGDestinations-button-bar39" class="button-bar">
      <a ui-sref="allAlbanyDestinations()" id="albanyGDestinations-button128" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedAlbany()" id="albanyGDestinations-button129" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="albanyGDestinations-list63">
      <ion-item class="item-icon-right energized fare-list-item" id="albanyGDestinations-list-item394" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Garibaldi,+OR/@45.1442514,-123.8876358,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54eb32b0d4f49977:0x71bc327c8223d60!2m2!1d-123.9109643!2d45.5598266!3e0?hl=en">Garibaldi
        <span class="item-note">$290</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyGDestinations-list-item395" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Gaston,+OR/@45.0350335,-123.646119,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x549517d8c478b2c9:0xc28c3603d9ad764b!2m2!1d-123.1396147!2d45.4363004!3e0?hl=en">Gaston
        <span class="item-note">$190</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="albanyGDestinations-list62">
        <ion-item class="item-icon-right energized fare-list-item" id="albanyGDestinations-list-item396" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Gates,+OR/@44.7719161,-122.9012701,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bf8361a284ad97:0x5d71deaffcf805af!2m2!1d-122.4167483!2d44.7562329!3e0?hl=en">Gates
          <span class="item-note">$115</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyGDestinations-list-item397" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Gearhart,+OR/@45.3290207,-123.9156348,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54949b86400d97c5:0xb2dd91a8a1d89ecb!2m2!1d-123.9112502!2d46.0242745!3e0?hl=en">Gearhart
          <span class="item-note">$300</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyGDestinations-list-item398" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Gervais,+OR/@44.8719988,-123.2405382,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54954340b1a276f5:0x30d75d843a546603!2m2!1d-122.8975952!2d45.1081752!3e0?hl=en">Gervais
          <span class="item-note">$90</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyGDestinations-list-item399" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Gladstone,+OR/@45.0098136,-123.3947547,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54957427216ed3ff:0xa5947e60149a6080!2m2!1d-122.5973104!2d45.3842943!3e0?hl=en">Gladstone (Metro)
          <span class="item-note">$240</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyGDestinations-list-item589" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Glenbrook,+OR/@44.4784614,-123.3955698,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c1accac65e0ce1:0x8ebd2d98dab9fd58!2m2!1d-123.40528!2d44.31389!3e0?hl=en">Glenbrook (Benton)
          <span class="item-note">$115</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyGDestinations-list-item400" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Glendale,+OR/@43.682602,-124.3356226,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c5afb216fe59ad:0x938f9244eafe5eeb!2m2!1d-123.4233992!2d42.7362284!3e0?hl=en">Glendale
          <span class="item-note">$390</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyGDestinations-list-item401" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Gold+Beach,+OR/@43.5197671,-124.8728499,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54dace49bf9ae73d:0x121195079f68806d!2m2!1d-124.4217741!2d42.4073334!3e0?hl=en">Gold Beach
          <span class="item-note">$500</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyGDestinations-list-item402" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Gold+Hill,+OR/@43.5185556,-123.696833,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c585dc07502535:0x7a036f7522290d1a!2m2!1d-123.0506035!2d42.4317894!3e0?hl=en">Gold Hill
          <span class="item-note">$450</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyGDestinations-list-item403" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Grand+Ronde,+OR/@44.8633607,-123.5769819,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54eab92bd8225f47:0xebabd05d3609dce9!2m2!1d-123.6092771!2d45.060113!3e0?hl=en">Grand Ronde
          <span class="item-note">$145</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyGDestinations-list-item393" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Grants+Pass,+OR/@43.5339525,-124.3207718,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c57a231cfb16a5:0xcba25ba08e5112d4!2m2!1d-123.3283925!2d42.4390069!3e0?hl=en">Grants Pass
          <span class="item-note">$400</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyGDestinations-list-item591" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Gresham,+OR/@45.0906003,-123.3302427,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x549575e85d2e60bb:0x9fc30a18adce5d2f!2m2!1d-122.4347334!2d45.5098388!3e0?hl=en">Gresham (Metro)
          <span class="item-note">$260</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div class="border">
      <img src="../img/doUlisten.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto; max-width: 550px;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>