<ion-view title="Albany J Destinations" hide-nav-bar="true" id="page44" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="albanyJDestinations-heading122" style="color:#FFFFFF;text-align:center;">ALBANY J DESTINATIONS</h5>
    <div id="albanyJDestinations-button-bar42" class="button-bar">
      <a ui-sref="allAlbanyDestinations()" id="albanyJDestinations-button134" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedAlbany()" id="albanyJDestinations-button135" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <div>
      <img class="border" src="../img/PRIDE-IN-SERVICE.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto; max-width: 350px;">
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="albanyJDestinations-list69">
      <ion-item class="item-icon-right energized fare-list-item" id="albanyJDestinations-list-item423" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Jacksonville,+OR/@43.471219,-123.6968335,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54cf9c601d18ecf1:0xe8c70a05ce75c30!2m2!1d-122.9669865!2d42.3134584!3e0?hl=en">Jacksonville
        <span class="item-note">$475</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyJDestinations-list-item424" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Jefferson,+OR/@44.6780315,-123.0930877,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c00c492e53c017:0xf81246fa25d9d17f!2m2!1d-123.0103708!2d44.7195662!3e0?hl=en">Jefferson
        <span class="item-note">$25</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="albanyJDestinations-list68">
        <ion-item class="item-icon-right energized fare-list-item" id="albanyJDestinations-list-item425" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/John+Day,+OR/@44.4135459,-122.1505163,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bb05716ba757ab:0x9f2d0f27d0de17a6!2m2!1d-118.95301!2d44.4159883!3e0?hl=en">John Day
          <span class="item-note">$605</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyJDestinations-list-item426" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Johnson+City,+OR/@45.0206539,-123.3985577,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x549575ce86f2006f:0x81a2dbe6e811d494!2m2!1d-122.5806713!2d45.4049709!3e0?hl=en">Johnson City
          <span class="item-note">$250</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyJDestinations-list-item609" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Jordan,+OR/@44.6781501,-123.0422628,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bf8ba0bd5ddf2d:0x7e3124d32146c8ca!2m2!1d-122.69861!2d44.72722!3e0?hl=en">Jordan (Linn)
          <span class="item-note">$75</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyJDestinations-list-item427" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Joseph,+OR/@45.3094352,-121.2887726,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54a406ae5f1023d1:0x6fe3bd580be5f73c!2m2!1d-117.2296127!2d45.3543187!3e0?hl=en">Joseph
          <span class="item-note">$875</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyJDestinations-list-item428" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Junction+City,+OR/@44.4291829,-123.4172834,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c0fef13a8305e1:0xf9cd6cf319840d17!2m2!1d-123.2056484!2d44.2192901!3e0?hl=en">Junction City
          <span class="item-note">$70</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <p style="color:#FFFFFF;font-size:12px;">All pricing is based roughly on a $2.50 per mile surcharge, a $3.00 flag drop or show up fee, and other mitigating factors such as distance, metropolitan areas, mountain passes, etc.</p>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>