<ion-view title="Albany L Destinations" hide-nav-bar="true" id="page46" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="albanyLDestinations-heading124" style="color:#FFFFFF;text-align:center;">ALBANY L DESTINATIONS</h5>
    <div id="albanyLDestinations-button-bar44" class="button-bar">
      <a ui-sref="allAlbanyDestinations()" id="albanyLDestinations-button138" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedAlbany()" id="albanyLDestinations-button139" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="albanyLDestinations-list73">
      <ion-item class="item-icon-right energized fare-list-item" id="albanyLDestinations-list-item438" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Labish+Village,+OR/@44.8275543,-123.3193049,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x5495562e531a7b61:0xc76199f030294ea5!2m2!1d-122.9723179!2d45.0192862!3e0?hl=en">Labish Village (Marion)
        <span class="item-note">$75</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyLDestinations-list-item640" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Lacomb,+OR/@44.5888141,-122.9941139,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c079fca5c8fa57:0x8fbf162287c2e7ab!2m2!1d-122.74222!2d44.58528!3e0?hl=en">Lacomb (Linn)
        <span class="item-note">$45</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyLDestinations-list-item439" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Lafayette,+OR/@44.9396545,-123.3870515,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x5495465f4c66e8b3:0x2a08e87c5cc0b72a!2m2!1d-123.1121766!2d45.2434865!3e0?hl=en">Lafayette
        <span class="item-note">$155</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="albanyLDestinations-list72">
        <ion-item class="item-icon-right energized fare-list-item" id="albanyLDestinations-list-item440" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/La+Grande,+OR/@45.0493246,-121.7101262,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54a3634e4c6fda9b:0x1946bbd770b72b8e!2m2!1d-118.0877188!2d45.3245771!3e0?hl=en">La Grande
          <span class="item-note">$670</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyLDestinations-list-item441" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Lake+Oswego,+OR/@45.0260626,-123.4708621,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x549573696ea1cd0d:0x74f8f3c56ba1980d!2m2!1d-122.7159726!2d45.4156817!3e0?hl=en">Lake Oswego
          <span class="item-note">$255</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyLDestinations-list-item442" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Lakeside,+OR/@44.1080646,-124.1587599,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c3951f6bca65b3:0x587f87d903739e6!2m2!1d-124.1751135!2d43.5756704!3e0?hl=en">Lakeside
          <span class="item-note">$350</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyLDestinations-list-item443" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Lakeview,+OR/@43.4025485,-122.813753,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c993d627bd940d:0x8ba8c95e38943b69!2m2!1d-120.345792!2d42.1887721!3e0?hl=en">Lakeview
          <span class="item-note">$680</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyLDestinations-list-item444" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/La+Pine,+OR/@44.0497006,-122.8652065,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54b882ee605a1851:0x8d0493ec291fa151!2m2!1d-121.503636!2d43.6703995!3e0?hl=en">La Pine
          <span class="item-note">$370</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyLDestinations-list-item445" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Lebanon,+OR/@44.5882008,-123.0804536,12z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!3e0!4e1?hl=en">Lebanon
          <span class="item-note">$35</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyLDestinations-list-item596" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Lewisburg,+OR/@44.6335219,-123.2086622,13z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c0157d9d82b105:0x4915084553635f96!2m2!1d-123.2425433!2d44.6238594!3e0!4e1?hl=en">Lewisburg (Benton)
          <span class="item-note">$35</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyLDestinations-list-item446" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Lincoln+City,+OR/@44.8057082,-123.8087751,10z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54ea8d760b76bd77:0x71530e6a7d2ce862!2m2!1d-124.0178914!2d44.9581644!3e0!4e1?hl=en">Lincoln City
          <span class="item-note">$200</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyLDestinations-list-item447" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Love's+Travel+Stop,+Old+Salem+Road+Northeast,+Albany,+OR/@44.6709503,-123.1127102,13z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c013851a15c0d9:0x49d4c06c2c071821!2m2!1d-123.0542152!2d44.6993281!3e0!4e1?hl=en">Love's Travel Stop
          <span class="item-note">$15</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyLDestinations-list-item460" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Lowell,+OR/@44.2741606,-123.5996872,9z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c0d4119ac6e329:0x4c82714ecdd2ab17!2m2!1d-122.7836822!2d43.9184592!3e0!4e1?hl=en">Lowell
          <span class="item-note">$</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyLDestinations-list-item448" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Lyons,+OR/@44.7158029,-123.0005902,11z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bf8d69e4e93fdd:0x57a9757ad319992b!2m2!1d-122.6150855!2d44.7745664!3e0!4e1?hl=en">Lyons
          <span class="item-note">$80</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>
