<ion-view title="Albany T Destinations" hide-nav-bar="true" id="page53" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="albanyTDestinations-heading131" style="color:#FFFFFF;text-align:center;">ALBANY T DESTINATIONS</h5>
    <div id="albanyTDestinations-button-bar51" class="button-bar">
      <a ui-sref="allAlbanyDestinations()" id="albanyTDestinations-button152" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedAlbany()" id="albanyTDestinations-button153" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="albanyTDestinations-list87">
      <ion-item class="item-icon-right energized fare-list-item" id="albanyTDestinations-list-item526" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Talbot,+OR/@44.6987873,-123.1281081,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c00e35ee4ddbd5:0xd599857ac98a657a!2m2!1d-123.095!2d44.76111!3e0?hl=en">Talbot (Marion)
        <span class="item-note">$30</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyTDestinations-list-item663" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Talent,+OR/@43.4368716,-123.6968339,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54cf7157f1edebb1:0x1087d52ec655d2dc!2m2!1d-122.7886462!2d42.2456844!3e0?hl=en">Talent
        <span class="item-note">$505</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyTDestinations-list-item527" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Tangent,+OR/@44.5894813,-123.1738126,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c04208cb9850c7:0x1b63a1e2237f209c!2m2!1d-123.1081497!2d44.5412335!3e0?hl=en">Tangent
        <span class="item-note">$12-$16</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="albanyTDestinations-list86">
        <ion-item class="item-icon-right energized fare-list-item" id="albanyTDestinations-list-item528" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/The+Dalles,+OR/@45.1733033,-122.7027259,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54961dd9a1974387:0x5d2ec66fffe43aaa!2m2!1d-121.1786823!2d45.5945645!3e0?hl=en">The Dalles
          <span class="item-note">$400</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyTDestinations-list-item529" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Tigard,+OR/@45.0347579,-123.485118,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x549507e27714087d:0xdb7e6d4c2db4885f!2m2!1d-122.7872599!2d45.4186798!3e0?hl=en">Tigard (Metro)
          <span class="item-note">$225</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyTDestinations-list-item530" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Tillamook,+OR/@45.1442514,-123.8649328,9z/data=!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x5494d505a0a0fd65:0x3428344b984d4fd3!2m2!1d-123.8440137!2d45.4562158!3e0?hl=en">Tillamook
          <span class="item-note">$230</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyTDestinations-list-item531" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Toledo,+OR/@44.6448974,-123.8085443,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c1d408d4cec899:0x2acfaff5ad58c40e!2m2!1d-123.9384478!2d44.621507!3e0?hl=en">Toledo
          <span class="item-note">$150</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyTDestinations-list-item532" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Troutdale,+OR/@45.0905828,-123.309415,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x5495a16688c72099:0x21c51078cfe4e92e!2m2!1d-122.3920584!2d45.5396297!3e0?hl=en">Troutdale (Metro)
          <span class="item-note">$260</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyTDestinations-list-item533" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Tualatin,+OR/@45.008262,-123.4928685,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x549506fef97382f7:0x7ccd20f9f59a5d22!2m2!1d-122.7819595!2d45.3779317!3e0?hl=en">Tualitin (Metro)
          <span class="item-note">$220</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyTDestinations-list-item534">Turner
          <span class="item-note">$50</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div id="albanyTDestinations-markdown16" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:10px;">All pricing is based roughly on a $2.50 per mile surcharge, a $3.00 flag drop or show up fee, and other mitigating factors such as distance, metropolitan areas, mountain passes, etc.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>