<ion-view title="Albany O Destinations" hide-nav-bar="true" id="page49" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="albanyODestinations-heading127" style="color:#FFFFFF;text-align:center;">ALBANY O DESTINATIONS</h5>
    <div id="albanyODestinations-button-bar47" class="button-bar">
      <a ui-sref="allAlbanyDestinations()" id="albanyODestinations-button144" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedAlbany()" id="albanyODestinations-button145" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="albanyODestinations-list79">
      <ion-item class="item-icon-right energized fare-list-item" id="albanyODestinations-list-item483" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Oakland,+OR/@44.0311321,-123.7285892,9z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c41c7cf3cc9e73:0x891f1115ce204574!2m2!1d-123.2984101!2d43.4220625!3e0!4e1?hl=en">Oakland
        <span class="item-note">$250</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyODestinations-list-item484" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Oakridge,+OR/@44.1925062,-123.4409638,9z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c72e512f94c9ad:0x85928a35c10c9d8f!2m2!1d-122.4617159!2d43.7465124!3e0!4e1?hl=en">Oakridge
        <span class="item-note">$205</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="albanyODestinations-list78">
        <ion-item class="item-icon-right energized fare-list-item" id="albanyODestinations-list-item485" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Ontario,+OR/@44.6293615,-122.2709259,7z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54af8fabaacb6761:0x42b1fe6ec09457c5!2m2!1d-116.9629378!2d44.0265525!3e0!4e1?hl=en">Ontario
          <span class="item-note">$1000</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyODestinations-list-item486" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Oregon+City,+OR/@44.9860909,-123.1145145,10z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x549579a63513bca5:0x2166f1e3b7be95ad!2m2!1d-122.6048473!2d45.3363593!3e0!4e1?hl=en">Oregon City
          <span class="item-note">$255</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyODestinations-list-item479">Otis
          <span class="item-note">$175</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div class="max-fifty-fivehundo border">
      <img src="../img/driversNoSmokingSign.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>