<ion-view title="Albany I Destinations" hide-nav-bar="true" id="page43" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="albanyIDestinations-heading121" style="color:#FFFFFF;text-align:center;">ALBANY I DESTINATIONS</h5>
    <div id="albanyIDestinations-button-bar41" class="button-bar">
      <a ui-sref="allAlbanyDestinations()" id="albanyIDestinations-button132" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedAlbany()" id="albanyIDestinations-button133" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="albanyIDestinations-list67">
      <ion-item class="item-icon-right energized fare-list-item" id="albanyIDestinations-list-item431" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Hwy+34+%26+I-5,+Oregon+34,+Albany,+OR/@44.5972278,-123.1229279,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c06970f0535a2b:0x8204ca8febe0d6f4!2m2!1d-123.0649683!2d44.5560888!3e0?hl=en">I-5 Exit 228 @ Hwy 34
        <span class="item-note">$20</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyIDestinations-list-item416" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Pioneer+Villa+Truck+Plaza,+Oregon+228,+Halsey,+OR/@44.5137651,-123.2256244,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c05ec9d05716e9:0x4b52d4758554beb6!2m2!1d-123.0574743!2d44.3877688!3e0?hl=en">I-5 Exit 216 @ Hwy 228
        <span class="item-note">$40</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyIDestinations-list-item429" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Santiam+Rest+Area,+Oregon+99E,+Jefferson,+OR/@44.6980881,-123.1281081,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c00e7716e9d2af:0x1a31eaf8e0103111!2m2!1d-123.0529395!2d44.7413221!3e0?hl=en">I-5 Santiam Rest Area
        <span class="item-note">$25</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyIDestinations-list-item414" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Idanha,+OR/@44.7105156,-122.8724888,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bf0a0c6b3171d1:0xd34aa144cac451d7!2m2!1d-122.0786856!2d44.7026218!3e0?hl=en">Idanha
        <span class="item-note">$140</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyIDestinations-list-item415" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Independence,+OR/@44.7435597,-123.305174,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c004832045cdd5:0x7c7d59a75feeb0b!2m2!1d-123.1867656!2d44.8512305!3e0?hl=en">Independence
        <span class="item-note">$55</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="albanyIDestinations-list66">
        <ion-item class="item-icon-right energized fare-list-item" id="albanyIDestinations-list-item430" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Irrigon,+OR/@45.0769977,-122.4197337,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54a2b0246af7c8a7:0xebbd77eb4661e65a!2m2!1d-119.4914118!2d45.8956885!3e0?hl=en">Irrigon
          <span class="item-note">$560</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyIDestinations-list-item417" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Island+City,+OR/@45.0493246,-121.6963586,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54a377c0b8ddbfcb:0x4cad49eb4a4cfef8!2m2!1d-118.0446618!2d45.3409671!3e0?hl=en">Island City
          <span class="item-note">$570</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img class="border" src="../img/rotateTires.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto; max-width: 450px;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>