<ion-view title="Albany F Destinations" hide-nav-bar="true" id="page40" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="albanyFDestinations-heading118" style="color:#FFFFFF;text-align:center;">ALBANY F DESTINATIONS</h5>
    <div id="albanyFDestinations-button-bar38" class="button-bar">
      <a ui-sref="allAlbanyDestinations()" id="albanyFDestinations-button126" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedAlbany()" id="albanyFDestinations-button127" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="albanyFDestinations-list61">
      <ion-item class="item-icon-right energized fare-list-item" id="albanyFDestinations-list-item384" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Fairview,+OR/@45.0906003,-123.3300403,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x5495a2f8d314fb3d:0x55b29c693c4db956!2m2!1d-122.4333089!2d45.5425469!3e0?hl=en">Fairview (Metro)
        <span class="item-note">$275</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyFDestinations-list-item385">Fall City
        <span class="item-note">$95</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="albanyFDestinations-list60">
        <ion-item class="item-icon-right energized fare-list-item" id="albanyFDestinations-list-item386">Florence
          <span class="item-note">$245</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyFDestinations-list-item587" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Flynn,+OR/@44.5915824,-123.3150875,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c047f47c3d1365:0x133d2b2a4c2697f7!2m2!1d-123.38556!2d44.54111!3e0?hl=en">Flynn (Benton)
          <span class="item-note">$60</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyFDestinations-list-item387" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Forest+Grove,+OR/@45.0800661,-123.6461189,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x549505247745a3c7:0xce1e6d9cf72513f3!2m2!1d-123.1208596!2d45.5263514!3e0?hl=en">Forest Grove (Metro)
          <span class="item-note">$195</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyFDestinations-list-item388" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Foster,+Sweet+Home,+OR/@44.4949873,-123.0154302,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c087d5b7143441:0xf1b84f522ce9fc6d!2m2!1d-122.6488328!2d44.4066108!3e0?hl=en">Foster (Linn)
          <span class="item-note">$70</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyFDestinations-list-itema388" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Fossil,+OR=en">Fossil (Wheeler)
          <span class="item-note">$555</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyFDestinations-list-item635" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Four+Corners,+OR/@44.7821413,-123.1849004,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bff9329ce6a9e5:0xb2fac5c954a9d2ea!2m2!1d-122.9837059!2d44.927898!3e0?hl=en">Four Corners (Marion)
          <span class="item-note">$65</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img class="border" src="img/rotateTires.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto; max-width: 350px;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>