<ion-view title="Albany W Destinations" hide-nav-bar="true" id="page55" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="albanyWDestinations-heading133" style="color:#FFFFFF;text-align:center;">ALBANY W DESTINATIONS</h5>
    <div id="albanyWDestinations-button-bar53" class="button-bar">
      <a ui-sref="allAlbanyDestinations()" id="albanyWDestinations-button156" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedAlbany()" id="albanyWDestinations-button157" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="albanyWDestinations-list91">
      <ion-item class="item-icon-right energized fare-list-item" id="albanyWDestinations-list-item665" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Waldport,+OR/@44.5880474,-123.8722425,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c1c6d40a8a48c9:0x94c03b4f81910b49!2m2!1d-124.0687302!2d44.426786!3e0?hl=en">Waldport
        <span class="item-note">$200</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyWDestinations-list-item553" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Wallowa,+OR/@45.0493246,-121.4381489,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54a3dcefe5fe1ed3:0x43eacfcb95524df9!2m2!1d-117.5282416!2d45.5701445!3e0?hl=en">Wallowa
        <span class="item-note">$730</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyWDestinations-list-item281" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Walton,+OR/@44.3365519,-123.5950673,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c10cd715b865bb:0xd29490819c4856eb!2m2!1d-123.5853798!2d44.0306767!3e0?hl=en">Walton
        <span class="item-note">$150</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="albanyWDestinations-list90">
        <ion-item class="item-icon-right energized fare-list-item" id="albanyWDestinations-list-item554" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Warrenton,+OR/@45.395499,-124.4590847,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54936441ba9b3af5:0x1fb42b1cdd72635a!2m2!1d-123.9237557!2d46.1651049!3e0?hl=en">Warrenton
          <span class="item-note">$400</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyWDestinations-list-item555" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Waterloo,+OR/@44.5646049,-123.0331089,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c0649631f68bc3:0x39e7b2d5128cdf87!2m2!1d-122.8253658!2d44.4940121!3e0?hl=en">Waterloo
          <span class="item-note">$50</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyWDestinations-list-item556" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Westfir,+OR/@44.1973738,-123.4583366,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c72c28d2ff5371:0x88b7392c007c465a!2m2!1d-122.4964399!2d43.7573458!3e0?hl=en">Westfir
          <span class="item-note">$245</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyWDestinations-list-item557" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/West+Linn,+OR/@45.004813,-123.3947547,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x549571591d560d1f:0x456efa935d1ffe9d!2m2!1d-122.6228367!2d45.3707677!3e0?hl=en">West Linn (Metro)
          <span class="item-note">$235</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyWDestinations-list-item666" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/West+Scio,+OR/@44.6723129,-123.0454238,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c00b353f56aa0f:0x3bb0c4e6ba5b9506!2m2!1d-122.882868!2d44.7109555!3e0?hl=en">West Scio (Linn)
          <span class="item-note">$45</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyWDestinations-list-item667" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/West+Stayton,+OR/@44.7137065,-123.0562092,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bff5f74af93b1d:0x200f3639bc30602d!2m2!1d-122.8667571!2d44.7865107!3e0?hl=en">West Stayton (Marion)
          <span class="item-note">$65</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyWDestinations-list-item558" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Weston,+OR/@45.0493246,-121.8863685,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54a24df7eed5fdbd:0x7ba074135abe816b!2m2!1d-118.424688!2d45.813744!3e0?hl=en">Weston
          <span class="item-note">$710</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyWDestinations-list-item559" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Willamina,+OR/@44.8572738,-123.5191999,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54eab673ccf0a01f:0x7c38525cb021cef!2m2!1d-123.4859416!2d45.0787251!3e0?hl=en">Willamina
          <span class="item-note">$115</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyWDestinations-list-item560" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Wilsonville,+OR/@44.9694303,-123.2587247,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54956e8dbc248dbf:0x273a96cf7db6c7e2!2m2!1d-122.7726501!2d45.3029903!3e0?hl=en">Wilsonville
          <span class="item-note">$190</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyWDestinations-list-item280" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Winchester+Bay,+OR/@44.1376753,-124.1510676,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c3c111c4133bd3:0x4318cffa59a5a92!2m2!1d-124.1748369!2d43.6770608!3e0?hl=en">Winchester Bay
          <span class="item-note">$335</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyWDestinations-list-item561" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Winston,+OR/@43.8756554,-124.3302918,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c4390e1ee8e891:0x71bc327c8224ac0!2m2!1d-123.4125724!2d43.1223383!3e0?hl=en">Winston
          <span class="item-note">$295</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyWDestinations-list-item562" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Woodburn,+OR/@44.8934327,-123.2667018,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54955c262e499f41:0x33820af71315cc42!2m2!1d-122.8553724!2d45.143731!3e0?hl=en">Woodburn
          <span class="item-note">$100</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyWDestinations-list-item563" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Wood+Village,+OR/@45.0906003,-123.3225933,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x549597e9aacabd25:0x6d633a12654c1c36!2m2!1d-122.4184149!2d45.5371398!3e0?hl=en">Wood Village (Metro)
          <span class="item-note">$280</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyWDestinations-list-item598" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Wren,+OR/@44.5915824,-123.3371489,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c039a4266bdc31:0x3520f15aa4127883!2m2!1d-123.418701!2d44.590092!3e0?hl=en">Wren (Benton)
          <span class="item-note">$50</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div id="albanyWDestinations-markdown12" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:10px;">If you are uncertain about the location of the destination, just tap the destination again and let Google show you the way.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>