<ion-view title="Albany Y &amp; Z Destinations" hide-nav-bar="true" id="page56" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="albanyYZDestinations-heading134" style="color:#FFFFFF;text-align:center;">ALBANY Y &amp; Z DESTINATIONS</h5>
    <div id="albanyYZDestinations-button-bar54" class="button-bar">
      <a ui-sref="allAlbanyDestinations()" id="albanyYZDestinations-button158" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedAlbany()" id="albanyYZDestinations-button159" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <div>
      <img src="../img/driversNoSmokingSign.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="albanyYZDestinations-list93">
      <ion-item class="item-icon-right energized fare-list-item" id="albanyYZDestinations-list-item572" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Yachats,+OR/@44.4947743,-123.8849836,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c1950a42f833e9:0x1d66e8d291907cb2!2m2!1d-124.1048418!2d44.3112312!3e0?hl=en">Yachats
        <span class="item-note">$215</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyYZDestinations-list-item573" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Yamhill,+OR/@44.9889039,-123.3658789,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x5495393865f78ee3:0x6fded0f524f9e65d!2m2!1d-123.1878346!2d45.3415313!3e0?hl=en">Yamhill
        <span class="item-note">$145</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyYZDestinations-list-item277" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Yaquina,+OR/@44.6448974,-123.8359456,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c1d727251560c5:0x784644327894dec8!2m2!1d-124.0087275!2d44.6020624!3e0?hl=en">Yaquina
        <span class="item-note">$190</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="albanyYZDestinations-list92">
        <ion-item class="item-icon-right energized fare-list-item" id="albanyYZDestinations-list-item574" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Yoncalla,+OR/@44.1166016,-123.7129268,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c14d497324e093:0xcc32546f3bb118b9!2m2!1d-123.2834167!2d43.5984531!3e0?hl=en">Yoncalla
          <span class="item-note">$215</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="energized fare-list-item" id="albanyYZDestinations-list-item278">Z DESTINATIONS</ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyYZDestinations-list-item279" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Zigzag,+Wemme,+Mount+Hood+Village,+OR/@45.0332016,-123.0841976,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54958a7e37cb91d7:0x131cfddd6e0a9cfa!2m2!1d-121.9431355!2d45.3440078!3e0?hl=en">ZigZag (Mt. Hood Village)
          <span class="item-note">$300</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div id="albanyYZDestinations-markdown10" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:10px;">All pricing is based roughly on a $2.50 per mile surcharge, a $3.00 flag drop or show up fee, and other mitigating factors such as distance, metropolitan areas, mountain passes, etc.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>