<ion-view title="Albany S Destinations" hide-nav-bar="true" id="page52" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="albanySDestinations-heading130" style="color:#FFFFFF;text-align:center;">ALBANY S DESTINATIONS</h5>
    <div id="albanySDestinations-button-bar27" class="button-bar">
      <a ui-sref="allAlbanyDestinations()" id="albanySDestinations-button163" class="button button-positive button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedAlbany()" id="albanySDestinations-button165" class="button button-positive button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div id="albanySDestinations-button-bar50" class="button-bar"></div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="albanySDestinations-list85">
      <ion-list id="albanySDestinations-list84">
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item291" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Saint+Louis,+OR/@44.8795931,-123.3456562,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54955bcbfbddc46f:0xab76b0fb5faa1474!2m2!1d-122.9423191!2d45.1226192!3e0?hl=en">Saint Louis (Marion)
          <span class="item-note">$100</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item292" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Saint+Paul,+OR/@44.923526,-123.3597936,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x5495436d9c14154b:0x5163d806987868ba!2m2!1d-122.9767662!2d45.2112295!3e0?hl=en">Saint Paul
          <span class="item-note">$125</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item294" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Salem,+OR/@44.7898281,-123.1851794,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bffefcbc4b9c63:0xf93429e08f0357c2!2m2!1d-123.0350963!2d44.9428975!3e0?hl=en">Salem
          <span class="item-note">$60-$75</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item508" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Sandy,+OR/@45.0905828,-123.2451198,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54958530cb72957b:0x4ca17c849214846c!2m2!1d-122.2704417!2d45.3975203!3e0?hl=en">Sandy
          <span class="item-note">$215</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item621" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Santiam+Junction+State+Airport,+Highway+20,+Sisters,+OR/@44.4947304,-122.8042841,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bf6c7f2fa5a1d5:0x78171e8b42a4a38!2m2!1d-121.942276!2d44.434555!3e0?hl=en">Santiam Junction (Linn)
          <span class="item-note">$205</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item509" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Scappoose,+OR/@45.1941119,-123.4499939,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x549454f7f199809b:0xee67a39ba5cac04a!2m2!1d-122.8777897!2d45.7544422!3e0?hl=en">Scappoose
          <span class="item-note">$240</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item510" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Scio,+OR/@44.6723129,-123.0454238,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bf8a16881681d1:0xac9af3a75b2f62b1!2m2!1d-122.8492562!2d44.7048445!3e0?hl=en">Scio
          <span class="item-note">$55</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item511" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Scotts+Mills,+OR/@44.844566,-123.1673555,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bfe83afad6d7c3:0x8a8da2c8b12fe330!2m2!1d-122.6684215!2d45.0428996!3e0?hl=en">Scotts Mills
          <span class="item-note">$110</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item512" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Seaside,+OR/@45.3134652,-123.8961877,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x5493612cb60e6667:0x8d640cf4541bfd22!2m2!1d-123.9226385!2d45.9931636!3e0?hl=en">Seaside
          <span class="item-note">$350</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item513" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Shady+Cove,+OR/@43.6220078,-123.6870294,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c58f7c7bba49eb:0xacde5a4676a79734!2m2!1d-122.8118529!2d42.6150389!3e0?hl=en">Shady Cove
          <span class="item-note">$460</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item660" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Shaw,+OR/@44.7755441,-123.1290653,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bff75c13258e3f:0x91cfd1fe177a525f!2m2!1d-122.8720357!2d44.8728991!3e0?hl=en">Shaw (Marion)
          <span class="item-note">$70</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item514" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Shedd,+OR/@44.5507007,-123.1770555,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c05cd0898a04cf:0x7ef4350bebe455be!2m2!1d-123.1103714!2d44.4615117!3e0?hl=en">Shedd (Linn)
          <span class="item-note">$40</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item624" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Sheridan,+OR/@44.8676288,-123.479336,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54eab3bf266a83c1:0xa2102fc4ac23ba6a!2m2!1d-123.3948291!2d45.0992814!3e0?hl=en">Sheridan
          <span class="item-note">$115</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item515" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Sherwood,+OR/@44.9974916,-123.4928685,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54954018a273aa69:0x917e95d40682dbb7!2m2!1d-122.8402122!2d45.3562638!3e0?hl=en">Sherwood (Metro)
          <span class="item-note">$230</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item516" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Siletz,+OR/@44.6448974,-123.8085443,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54ea80149f0c22e9:0xf8ac007146a833bf!2m2!1d-123.9201129!2d44.7217836!3e0?hl=en">Siletz
          <span class="item-note">$155</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item517" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Siletz,+OR/@44.6448974,-123.8085443,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54ea80149f0c22e9:0xf8ac007146a833bf!2m2!1d-123.9201129!2d44.7217836!3e0?hl=en">Silverton
          <span class="item-note">$90</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item518" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Sisters,+OR/@44.5403367,-122.8879932,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bf30b47c2cf1a9:0x85dd298592775554!2m2!1d-121.5492119!2d44.2909491!3e0?hl=en">Sisters
          <span class="item-note">$255</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item519" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Sodaville,+OR/@44.5618093,-123.0609102,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c064695dd98f6f:0xd573a90077360644!2m2!1d-122.8690294!2d44.4837288!3e0?hl=en">Sodaville
          <span class="item-note">$50</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item520" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Spirit+Mountain+Casino,+Salmon+River+Highway,+Grand+Ronde,+OR/@44.8489757,-123.5635573,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54eaba293dee80c5:0x389016ce27c91420!2m2!1d-123.581418!2d45.058213!3e0?hl=en">Spirit Mountain Casino
          <span class="item-note">$115</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item481" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Springfield,+OR/@44.3440975,-123.4408891,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c0de472e7002bf:0x536dbe99c4a3fd6!2m2!1d-123.0220289!2d44.0462362!3e0?hl=en">Springfield
          <span class="item-note">$100</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item507" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/St.+Helens,+OR/@45.2463693,-123.468777,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x5494504918501a59:0x9a4c0b8e9efc14b4!2m2!1d-122.8212299!2d45.8589719!3e0?hl=en">St Helens
          <span class="item-note">$260</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item521" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Stanfield,+OR/@45.0493246,-122.2756431,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54a2c71691edcd59:0xd9eb99e652d348de!2m2!1d-119.2172351!2d45.7804098!3e0?hl=en">Stanfield
          <span class="item-note">$700</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item522" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Stayton,+OR/@44.7152075,-123.0201666,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bff43f5749ab23:0xb2fc3c384eaf50e1!2m2!1d-122.7945333!2d44.8006775!3e0?hl=en">Stayton
          <span class="item-note">$70</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item523" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Sublimity,+OR/@44.7755441,-123.0901729,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bff6ac0d5b8a5b:0x729587a6c6ac3ad1!2m2!1d-122.7945335!2d44.8295663!3e0?hl=en">Sublimity
          <span class="item-note">$80</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item600" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Summit,+OR/@44.6451543,-123.4799749,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c03018285c9113:0xc6eb8d723549648!2m2!1d-123.5775!2d44.638056!3e0?hl=en">Summit (Benton)
          <span class="item-note">$75</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item524" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Sutherlin,+OR/@44.0152768,-123.7285893,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c41fe6c61d89ab:0xa7c8c69d58166626!2m2!1d-123.3125763!2d43.3901177!3e0?hl=en">Sutherlin
          <span class="item-note">$250</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanySDestinations-list-item525" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Sweet+Home,+OR/@44.4949873,-123.0610014,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c0885f05da20c1:0x4a54043a7d0eefe4!2m2!1d-122.7361958!2d44.3976247!3e0?hl=en">Sweet Home
          <span class="item-note">$60</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="../img/rotateTires.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>