<ion-view title="Albany B Destinations" hide-nav-bar="true" id="page36" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="albanyBDestinations-heading114" style="color:#FFFFFF;text-align:center;">ALBANY B DESTINATIONS</h5>
    <div id="albanyBDestinations-button-bar34" class="button-bar">
      <a ui-sref="allAlbanyDestinations()" id="albanyBDestinations-button118" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedAlbany()" id="albanyBDestinations-button119" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="albanyBDestinations-list53">
      <ion-item class="item-icon-right energized fare-list-item" id="albanyBDestinations-list-item331" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR+97321,+USA/Baker+City,+OR">Baker City
        <span class="item-note">$740</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyBDestinations-list-item332" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR+97321,+USA/Bandon,+OR">Bandon
        <span class="item-note">$400</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyBDestinations-list-item333" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR+97321,+USA/Banks,+OR">Banks
        <span class="item-note">$275</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyBDestinations-list-item334" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR+97321,+USA/Barlow,+OR">Barlow
        <span class="item-note">$160</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyBDestinations-list-itema334" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR+97321,+USA/Barton,+OR">Barton &#40;Metro&#41;
        <span class="item-note">$245</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyBDestinations-list-item335" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR+97321,+USA/Bay+City,+OR">Bay City
        <span class="item-note">$300</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyBDestinations-list-item336" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR+97321,+USA/Beaverton,+OR">Beaverton (Metro)
        <span class="item-note">$250</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyBDestinations-list-item581" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR+97321,+USA/Bellfountain,+OR">Bellfountain(Benton)
        <span class="item-note">$95</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyBDestinations-list-item337" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR+97321,+USA/Bend,+OR">Bend
        <span class="item-note">$325</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyBDestinations-list-item582" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR+97321,+USA/Blodgett,+OR">Blodgett (Benton)
        <span class="item-note">$60</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyBDestinations-list-item338" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR+97321,+USA/Boardman,+OR">Boardman
        <span class="item-note">$550</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyBDestinations-list-itema339" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Bonneville,+OR">Bonneville
        <span class="item-note">$360</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyBDestinations-list-item626" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR+97321,+USA/Breitenbush,+OR">Breitenbush (Marion)
        <span class="item-note">$175</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyBDestinations-list-item339" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR+97321,+USA/Brookings,+OR">Brookings
        <span class="item-note">$610</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyBDestinations-list-item625" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR+97321,+USA/Brooks,+OR">Brooks (Marion)
        <span class="item-note">$90</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyBDestinations-list-item340" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Brownsville,+OR/@44.5134053,-123.1891578,11z/data=!3m1!4b1!4m17!4m16!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c05e48af2c8fed:0xb5641f54d3fc2214!2m2!1d-122.9848108!2d44.3934571!2m2!2b1!3b1!3e0?hl=en">Brownsville
        <span class="item-note">$50</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyBDestinations-list-item341" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Burns,+OR/@43.7475712,-122.1993277,8z/data=!3m1!4b1!4m17!4m16!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54b0a6dbb6608a23:0xbd997564bab34a4d!2m2!1d-119.0541032!2d43.5862606!2m2!2b1!3b1!3e0?hl=en">Burns
        <span class="item-note">$625</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyBDestinations-list-item627" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Butteville,+OR/@44.9492986,-123.2308683,10z/data=!3m1!4b1!4m17!4m16!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x549568ff0eb69263:0x50dc225d493ec9ec!2m2!1d-122.8403742!2d45.2623415!2m2!2b1!3b1!3e0?hl=en">Butteville (Marion)
        <span class="item-note">$140</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
        <img class="border" src="../img/rotateTires.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto; max-width: 400px;">
      <div class="spacer" style="height: 20px;"></div>
      </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>