<ion-view title="Albany U &amp; V Destinations" hide-nav-bar="true" id="page54" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="albanyUVDestinations-heading132" style="color:#FFFFFF;text-align:center;">ALBANY U &amp; V DESTINATIONS</h5>
    <div id="albanyUVDestinations-button-bar52" class="button-bar">
      <a ui-sref="allAlbanyDestinations()" id="albanyUVDestinations-button154" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedAlbany()" id="albanyUVDestinations-button155" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="border">
      <img src="../img/AllStarToonCabLrg.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="albanyUVDestinations-list89">
      <ion-item class="item-icon-right energized fare-list-item" id="albanyUVDestinations-list-item546" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Umatilla,+OR/@45.0878891,-122.3452779,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54a2bb663a707b09:0x5d13e1ee87d730b4!2m2!1d-119.3425179!2d45.9173549!3e0?hl=en">Umatilla
        <span class="item-note">$530</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyUVDestinations-list-item547" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Union,+OR/@45.0384421,-121.5788897,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54a38015fa5b2fbd:0x256fc25911159219!2m2!1d-117.8652126!2d45.2084696!3e0?hl=en">Union
        <span class="item-note">$650</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="albanyUVDestinations-list88">
        <ion-item class="energized fare-list-item" id="albanyUVDestinations-list-item548"> V Destinations</ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyUVDestinations-list-item549" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Vale,+OR/@44.045589,-121.2930216,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54a559b98f76d627:0x840261f7a0bda639!2m2!1d-117.2382311!2d43.9821055!3e0?hl=en">Vale
          <span class="item-note">$865</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyUVDestinations-list-item550" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Veneta,+OR/@44.3453228,-123.4802079,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c1100c52d7cd65:0xf4e3861a01eae7a6!2m2!1d-123.3509294!2d44.0487342!3e0?hl=en">Veneta
          <span class="item-note">$145</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyUVDestinations-list-item551" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Vernonia,+OR/@45.2462278,-123.5491884,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x5494f6862badd5e3:0x1efc37122c34016c!2m2!1d-123.1977937!2d45.8586888!3e0?hl=en">Vernonia
          <span class="item-note">$300</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div id="albanyUVDestinations-markdown14" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:10px;">All pricing is based roughly on a $2.50 per mile surcharge, a $3.00 flag drop or show up fee, and other mitigating factors such as distance, metropolitan areas, mountain passes, etc.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>