<ion-view title="Albany M Destinations" hide-nav-bar="true" id="page47" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="albanyMDestinations-heading125" style="color:#FFFFFF;text-align:center;">ALBANY M DESTINATIONS</h5>
    <div id="albanyMDestinations-button-bar45" class="button-bar">
      <a ui-sref="allAlbanyDestinations()" id="albanyMDestinations-button140" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedAlbany()" id="albanyMDestinations-button141" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="albanyMDestinations-list75">
      <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item449" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Macleay,+OR/@44.7751155,-123.1360993,11z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bffa2833ef687f:0x7ee11576deb97bf3!2m2!1d-122.88611!2d44.90806!3e0!4e1?hl=en">Macleay (Marion)
        <span class="item-note">$65</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item642" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Madras,+OR/@44.9855323,-123.2383364,8z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bee98a71bb48a7:0xc7e8145e5d1dfa82!2m2!1d-121.1294872!2d44.6334544!3e0!4e1?hl=en">Madras
        <span class="item-note">$410</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item450" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Malin,+OR/@43.3208189,-123.4685043,8z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c9365d4b47bac3:0x54722e5a2196ad0a!2m2!1d-121.4086021!2d42.0126551!3e0!4e1?hl=en">Malin
        <span class="item-note">$605</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="albanyMDestinations-list74">
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item451" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Manzanita,+OR/@45.2729784,-123.899721,9z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x5494b61a5fb38495:0x9b94c876e8acf657!2m2!1d-123.9351354!2d45.7184398!3e0!4e1?hl=en">Manzanita
          <span class="item-note">$290</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item613" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Marcola,+OR/@44.349171,-123.2290015,10z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c0eefcd10943b7:0x6d72926feb0874af!2m2!1d-122.8591736!2d44.1732515!3e0!4e1?hl=en">Marcola
          <span class="item-note">$115</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item474" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Marion,+OR/@44.6927377,-123.0935202,12z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c009990e890b1f:0x4096307fd9892765!2m2!1d-122.942314!2d44.7490108!3e0!4e1?hl=en">Marion (Marion)
          <span class="item-note">$45</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item614" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Marion+Forks,+OR/@44.5925357,-122.8027014,10z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bf095fd8862a17:0xbae29c024d96d1d6!2m2!1d-121.94694!2d44.61556!3e0!4e1?hl=en">Marion Forks (Linn)
          <span class="item-note">$205</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item452" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Maywood+Park,+OR/@45.0962767,-123.3916294,9z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x5495a158f5b2d61f:0xd1f0a85fd26b0e26!2m2!1d-122.5608799!2d45.5527762!3e0!4e1?hl=en">Maywood Park
          <span class="item-note">$270</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item453" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/McKee,+OR/@44.876418,-123.225351,10z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54955f19bb65cdc9:0x27ef0702e2bb2cac!2m2!1d-122.80694!2d45.1!3e0!4e1?hl=en">McKee (Marion)
          <span class="item-note">$110</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item643" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/McMinnville,+OR/@44.9229693,-123.4791007,10z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54954eb717c973a3:0xca44701bdb45cf48!2m2!1d-123.1987163!2d45.2101162!3e0!4e1?hl=en">McMinnville
          <span class="item-note">$110</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item454" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Medford,+OR/@43.4777473,-123.6968334,8z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54cf7c5b37361f6d:0x7db736c5541136e!2m2!1d-122.8755949!2d42.3265152!3e0!4e1?hl=en">Medford
          <span class="item-note">$500</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item644" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Mehama,+OR/@44.7719161,-123.0007543,11z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bff2bfee7a5cbf:0xbdfc716406b357b8!2m2!1d-122.6192523!2d44.7901219!3e0!4e1?hl=en">Mehama (Marion)
          <span class="item-note">$80</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item455" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Merrill,+OR/@43.3264907,-123.4685042,8z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54ceccc42d960761:0x8675b92e13b2390f!2m2!1d-121.6005501!2d42.0251516!3e0!4e1?hl=en">Merrill
          <span class="item-note">$585</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item456" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Metolius,+OR/@44.8495444,-122.677694,9z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bee8271b141905:0x71bc327c8224250!2m2!1d-121.1783761!2d44.5865092!3e0!4e1?hl=en">Metolius
          <span class="item-note">$400</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item457" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Middle+Grove,+Hayesville,+OR/@44.8037723,-123.1692471,11z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bffc2a36ee09eb:0x9bb6199a76e777aa!2m2!1d-122.9653726!2d44.9698422!3e0!4e1?hl=en">Middle Grove (Marion)
          <span class="item-note">$60</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item645" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Mill+City,+OR/@44.7719161,-122.9316021,11z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bf919de621893f:0xf56b78bf15a020f2!2m2!1d-122.4781385!2d44.7540106!3e0!4e1?hl=en">Mill City
          <span class="item-note">$90</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item458" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Millersburg,+OR/@44.6588222,-123.1002829,14z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c012e637f9f533:0x9d705e081419f85b!2m2!1d-123.0614829!2d44.680955!3e0!4e1?hl=en">Millersburg
          <span class="item-note">$12-$16</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item459" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Milton-Freewater,+OR/@45.0954298,-121.8648101,8z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54a244cbf7b67cff:0xf7b12e68b3befc1f!2m2!1d-118.3877435!2d45.9326346!3e0!4e1?hl=en">Milton-Freewater
          <span class="item-note">$710</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item461" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Milwaukie,+OR/@45.0401558,-123.3947546,9z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x5495743c53f9ad3f:0x34bbb4e04828350c!2m2!1d-122.6323315!2d45.4465323!3e0!4e1?hl=en">Milwaukie
          <span class="item-note">$260</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item462" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Molalla,+OR/@44.9351081,-123.119791,10z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x5495626d8096ae53:0x8eba113efac92d7e!2m2!1d-122.5756477!2d45.1462914!3e0!4e1?hl=en">Molalla
          <span class="item-note">$140</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item463" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Monitor,+OR/@44.876418,-123.2048841,10z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54955f9478b8ac27:0xcff9710e4c567cca!2m2!1d-122.7481463!2d45.1015099!3e0!4e1?hl=en">Monitor (Marion)
          <span class="item-note">$120</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item646" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Monmouth,+OR/@44.738571,-123.3111982,11z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c003575d813685:0x90459036c9e5df8e!2m2!1d-123.2339888!2d44.8484524!3e0!4e1?hl=en">Monmouth
          <span class="item-note">$55</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item464" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Monroe,+OR/@44.4477005,-123.4821353,10z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c0540d671b2af7:0x707f2da9e0ac2f24!2m2!1d-123.2967637!2d44.3140116!3e0!4e1?hl=en">Monroe
          <span class="item-note">$70</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-itema183" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Mosier,+Oregon+97040">Mosier
          <span class="item-note">$330</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item465" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Mt+Angel,+OR/@44.8518605,-123.2253511,10z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bfe1fd140edf83:0xfcf5b7230de485c3!2m2!1d-122.8000917!2d45.0678986!3e0!4e1?hl=en">Mt Angel
          <span class="item-note">$100</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item96" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Mt+Hood+Village,+OR/@45.0332016,-123.1001542,9z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54958a17d306fb1b:0x5a93c108bbcea5bb!2m2!1d-121.9735364!2d45.3511939!3e0!4e1?hl=en">Mt Hood Villages
          <span class="item-note">$280-$310</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item466" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Mt+Vernon,+OR/@44.4135459,-122.2308211,8z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54bb08323555dd4d:0x1cfa631ef49ddb5b!2m2!1d-119.1135709!2d44.4176525!3e0!4e1?hl=en">Mt Vernon
          <span class="item-note">$590</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item475" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Mulino,+OR/@44.9351081,-123.1236029,10z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54956355e83e255d:0xda6a32fb305d4188!2m2!1d-122.5816605!2d45.2212415!3e0!4e1?hl=en">Mulino
          <span class="item-note">$145</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item467" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Myrtle+Creek,+OR/@43.8253078,-124.310966,8z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c434006cb71b55:0x4f8bb70c4a117b75!2m2!1d-123.2931205!2d43.0201173!3e0!4e1?hl=en">Myrtle Creek
          <span class="item-note">$310</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="albanyMDestinations-list-item468" href-inappbrowser="https://www.google.com/maps/dir/Albany,+OR/Myrtle+Point,+OR/@43.7972433,-124.7477421,8z/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!1m5!1m1!1s0x54c48bfa55fc3c2d:0x7ad4dd78e0f179be!2m2!1d-124.138992!2d43.064832!3e0!4e1?hl=en">Myrtle Point
          <span class="item-note">$415</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>