<ion-view title="All Albany Destinations" hide-nav-bar="true" id="page34" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> Back</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 25%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="allAlbanyDestinations-heading111" style="color:#FFFFFF;text-align:center;">ALL ALBANY DESTINATIONS</h5>
    <div id="allAlbanyDestinations-markdown8" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:10px;">All pricing is based roughly on a $2.50 per mile surcharge, a $3.00 flag drop or show up fee, and other mitigating factors such as distance, metropolitan areas, mountain passes, etc.</p>
    </div>
    <div id="allAlbanyDestinations-button-bar32" class="button-bar">
      <a ui-sref="allStarPricing()" id="allAlbanyDestinations-button88" class="button button-energized button-block icon-left ion-android-arrow-back">MAIN MENU</a>
      <a ui-sref="frequentlyUsedAlbany()" id="allAlbanyDestinations-button89" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <a ui-sref="albanyADestinations()" id="allAlbanyDestinations-button90" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">A Destinations</a>
    <div class="spacer" style="height: 25px;"></div>
    <a ui-sref="albanyBDestinations()" id="allAlbanyDestinations-button91" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">B Destinations</a>
    <div class="spacer" style="height: 25px;"></div>
    <a ui-sref="albanyCDestinations()" id="allAlbanyDestinations-button92" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">C Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="albanyDDestinations()" id="allAlbanyDestinations-button93" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">D Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="albanyEDestinations()" id="allAlbanyDestinations-button94" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">E Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="albanyFDestinations()" id="allAlbanyDestinations-button95" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">F Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="albanyGDestinations()" id="allAlbanyDestinations-button96" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">G Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="albanyHDestinations()" id="allAlbanyDestinations-button97" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">H Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="albanyIDestinations()" id="allAlbanyDestinations-button98" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">I Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="albanyJDestinations()" id="allAlbanyDestinations-button99" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">J Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="albanyKDestinations()" id="allAlbanyDestinations-button100" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">K Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="albanyLDestinations()" id="allAlbanyDestinations-button101" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">L Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="albanyMDestinations()" id="allAlbanyDestinations-button102" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">M Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="albanyNDestinations()" id="allAlbanyDestinations-button103" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">N Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="albanyODestinations()" id="allAlbanyDestinations-button104" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">O Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="albanyPDestinations()" id="allAlbanyDestinations-button105" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">P Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="allStarPricing()" id="allAlbanyDestinations-button106" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">No Q Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="albanyRDestinations()" id="allAlbanyDestinations-button107" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">R Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
      <img class="border" src="../img/AllStarToonCabLrg.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto; max-width: 350px;">
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="albanySDestinations()" id="allAlbanyDestinations-button108" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">S Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="albanyTDestinations()" id="allAlbanyDestinations-button109" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">T Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="albanyUVDestinations()" id="allAlbanyDestinations-button110" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">U Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="albanyUVDestinations()" id="allAlbanyDestinations-button111" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">V Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="albanyWDestinations()" id="allAlbanyDestinations-button112" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">W Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="allStarPricing()" id="allAlbanyDestinations-button113" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">No X Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="albanyYZDestinations()" id="allAlbanyDestinations-button114" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">Y Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="albanyYZDestinations()" id="allAlbanyDestinations-button115" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">Z Destinations</a>
    <div class="spacer" style="height: 20px;"></div>
  </div>
    <img class="border" src="../img/PRIDE-IN-SERVICE.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto; max-width: 400px;">
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
    <div class="spacer" style="height: 20px;"></div>
    <p style="font-size: 0.8em">
      App Design by
      <a class="footie" url="http://www.damnmulletdesign.com">
        <b>Damn Mullet Design</b>
      </a>
    </p>
  </ion-content>
</ion-view>