<ion-view title="All Lebanon Destinations" hide-nav-bar="true" id="page9" style="background-color:#000000; ">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
   <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 25%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="allLebanonDestinations-heading2" style="color:#FFFFFF;text-align:center;">ALL LEBANON DESTINATIONS</h5>
    <div id="allLebanonDestinations-markdown7" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:10px;">All pricing is based roughly on a $2.50 per mile surcharge, a $3.00 flag drop or show up fee, and other mitigating factors such as distance, metropolitan areas, mountain passes, etc.</p>
    </div>
    <div id="allLebanonDestinations-button-bar5" class="button-bar">
      <a ui-sref="allStarPricing()" id="allLebanonDestinations-button25" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedLebanon()" id="allLebanonDestinations-button26" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <a ui-sref="lebanonADestinations()" id="allLebanonDestinations-button24" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">A Destinations</a>
    <div class="spacer" style="height: 25px;"></div>
    <a ui-sref="lebanonBDestinations()" id="allLebanonDestinations-button9" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">B Destinations</a>
    <div class="spacer" style="height: 25px;"></div>
    <a ui-sref="lebanonCDestinations()" id="allLebanonDestinations-button11" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">C Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="lebanonDDestinations()" id="allLebanonDestinations-button12" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">D Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="lebanonEDestinations()" id="allLebanonDestinations-button13" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">E Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="lebanonFDestinations()" id="allLebanonDestinations-button16" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">F Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="lebanonGDestinations()" id="allLebanonDestinations-button17" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">G Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="lebanonHDestinations()" id="allLebanonDestinations-button27" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">H Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="lebanonIDestinations()" id="allLebanonDestinations-button28" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">I Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="lebanonJDestinations()" id="allLebanonDestinations-button29" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">J Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="lebanonKDestinations()" id="allLebanonDestinations-button30" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">K Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="lebanonLDestinations()" id="allLebanonDestinations-button33" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">L Destinations</a>
    <div class="spacer" style="height: 20px;"></div>
    <div class="border">
      <img src="../img/PRIDE-IN-SERVICE.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="lebanonMDestinations()" id="allLebanonDestinations-button34" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">M Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="lebanonNDestinations()" id="allLebanonDestinations-button36" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">N Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="lebanonODestinations()" id="allLebanonDestinations-button35" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">O Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="lebanonPDestinations()" id="allLebanonDestinations-button41" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">P Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="allStarPricing()" id="allLebanonDestinations-button40" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">No Q Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="lebanonRDestinations()" id="allLebanonDestinations-button38" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">R Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="lebanonSDestinations()" id="allLebanonDestinations-button46" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">S Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="lebanonTDestinations()" id="allLebanonDestinations-button44" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">T Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="lebanonUVDestinations()" id="allLebanonDestinations-button45" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">U Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="lebanonUVDestinations()" id="allLebanonDestinations-button42" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">V Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="lebanonWDestinations()" id="allLebanonDestinations-button39" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">W Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="allStarPricing()" id="allLebanonDestinations-button43" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">No X Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="lebanonYZDestinations()" id="allLebanonDestinations-button37" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">Y Destinations</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="lebanonYZDestinations()" id="allLebanonDestinations-button47" class="button button-energized button-block icon-right ion-android-arrow-forward buttoon">Z Destinations</a>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>