<ion-view title="All Star Pricing" hide-nav-bar="true" hide-back-button="true" id="page4" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button button-energized icon ion-android-menu"> Menu</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <ion-col-md-6 id="allStarPricing-container1" class="transparent">
      <div>
        <img src="../img/FAREPRICEICON.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto; max-width: 300px;">
      </div>
      <div class="spacer" style="height: 30px;"></div>
      <div id="allStarPricing-button-bar3" class="button-bar">
        <a ui-sref="frequentlyUsedAlbany()" id="allStarPricing-button14" class="button button-energized button-block">FREQUENT ALBANY</a>
        <a ui-sref="allAlbanyDestinations()" id="allStarPricing-button15" class="button button-energized button-block">ALL ALBANY</a>
      </div>
      <div>
        <img src="../img/white_cabbie.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto; max-width: 360px">
      </div>
      <div id="allStarPricing-button-bar1" class="button-bar">
        <a ui-sref="frequentlyUsedLebanon()" id="allStarPricing-button6" class="button button-energized button-block">FREQUENT LEBANON</a>
        <a ui-sref="allLebanonDestinations()" id="allStarPricing-button10" class="button button-energized button-block">ALL LEBANON</a>
      </div>
    </ion-col-md-6>
    <div id="allStarPricing-container2" class="transparent">
      <h4 id="allStarPricing-heading5" style="color:#09F403;text-align:center;">This list contains the following:</h4>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="allStarPricing-markdown3" class="show-list-numbers-and-dots">
      <ul>
        <li class="transparent">
          <p style="color:#09F403;font-size:12px;">Prices of the most frequent destinations;</p>
        </li>
        <li class="transparent">
          <p style="color:#09F403;font-size:12px;">Pricing to ALL incorporated cities in Oregon with a population of 500 or more;</p>
        </li>
        <li class="transparent">
          <p style="color:#09F403;font-size:12px;">The price to ALL incorporated cities in Linn, Benton, Marion, Lincoln, Polk, Lane, Yamhill, Multnomah, Clackamas and Washington Counties, no matter what the population is;</p>
        </li>
        <li class="transparent">
          <p style="color:#09F403;font-size:12px;">Prices to ALL the unincorporated communities in Linn &amp; Benton Counties as well as many more from Marion, Polk, Lane, Lincoln, Yamhill, Tillamook, Clackamas, Washington, Multnomah and Columbia counties...</p>
        </li>
        <li class="transparent">
          <p style="color:#09F403;font-size:12px;">Each destination selection is linked to Google maps page that -shows location, route directions, the distance and estimated time to arrival, etc.</p>
        </li>
      </ul>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="allStarPricing-slider1" style="width:calc(100% + 20px);height:200px;margin-left:-10px;">
      <ion-slide-page id="allStarPricing-slide26" style="background:url(../img/slide-bg-1.jpg) no-repeat center;background-size:contain;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;"></div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="allStarPricing-slide210" style="background:url(../img/slide-bg-2.jpg) no-repeat center;background-size:contain;"></ion-slide-page>
      <ion-slide-page id="allStarPricing-slide211" style="background:url(../img/slide-bg-3.jpg) no-repeat center;background-size:contain;"></ion-slide-page>
      <ion-slide-page id="allStarPricing-slide212" style="background:url(../img/slide-bg-4.jpg) no-repeat center;background-size:contain;"></ion-slide-page>
    </ion-slides>
    <div class="spacer" style="height: 20px;"></div>
  </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
    <div class="spacer" style="height: 10px;"></div>
    <p style="font-size: 0.8em">
      app by
      <a class="footie" href="http://www.damnmulletdesign.com">
        <b>Damn Mullet Design</b>
      </a>
    </p>
  </ion-content>
</ion-view>