<ion-view title="Frequently Used - Albany" hide-nav-bar="true" id="page5" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 25%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <h5 id="frequentlyUsedAlbany-heading1" style="color:#FFFFFF;text-align:center;">FREQUENT ALBANY DESTINATIONS</h5>
    <div id="frequentlyUsedAlbany-button-bar4" class="button-bar max-fifty-fivehundo">
      <a ui-sref="allStarPricing()" id="frequentlyUsedAlbany-button21" class="button button-energized button-block icon-left ion-android-arrow-back">MAIN MENU</a>
      <a ui-sref="allAlbanyDestinations()" id="frequentlyUsedAlbany-button22" class="button button-energized button-block icon-right ion-android-arrow-forward">ALL ALBANY</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="frequentlyUsedAlbany-list1" class="max-fifty-fivehundo">
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedAlbany-list-item4" href-inappbrowser="https://www.google.com/maps/dir/,+OR+97321,+USA/Adair+Village,+OR">Adair Village
        <span class="item-note">$35</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedAlbany-list-item7" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Brownsville,+OR/@44.5134053,-123.1891578,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c05e48af2c8fed:0xb5641f54d3fc2214!2m2!1d-122.9848108!2d44.3934571!3e0?hl=en">Brownsville
        <span class="item-note">$55</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedAlbany-list-item8" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Corvallis,+OR/@44.6035437,-123.2161745,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c0409daa14d77d:0xd70d808f22bdc0be!2m2!1d-123.2620435!2d44.5645659!3e0?hl=en">Corvallis
        <span class="item-note">$35</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedAlbany-list-item9" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Crabtree,+OR/@44.6383874,-123.0705572,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c072330260a767:0xec419d855b8ea179!2m2!1d-122.8986429!2d44.6353266!3e0?hl=en">Crabtree
        <span class="item-note">$25</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedAlbany-list-item10" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Eugene,+OR/@44.3445472,-123.4011363,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c119b0ac501919:0x57ec61894a43894d!2m2!1d-123.0867536!2d44.0520691!3e0?hl=en">Eugene/Springfield
        <span class="item-note">$100</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedAlbany-list-item11" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Halsey,+OR/@44.5118868,-123.2468286,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c05963fb8b8651:0x95a12d8c1acf7aff!2m2!1d-123.1098145!2d44.3840122!3e0?hl=en">Halsey
        <span class="item-note">$50</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedAlbany-list-item153" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Harrisburg,+OR/@44.4565465,-123.4172833,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c0f762b218dcf5:0x66fe778e91281c5b!2m2!1d-123.170648!2d44.2740123!3e0?hl=en">Harrisburg
        <span class="item-note">$60</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedAlbany-list-item207" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Hwy+34+%26+I-5,+Oregon+34,+Albany,+OR/@44.5972278,-123.1229279,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c06970f0535a2b:0x8204ca8febe0d6f4!2m2!1d-123.0649683!2d44.5560888!3e0?hl=en">I-5 (@ Hwy 34) Exit 228
        <span class="item-note">$20</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedAlbany-list-item208" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Pioneer+Villa+Truck+Plaza,+Oregon+228,+Halsey,+OR/@44.5137651,-123.2256244,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c05ec9d05716e9:0x4b52d4758554beb6!2m2!1d-123.0574743!2d44.3877688!3e0?hl=en">I-5 (@ Hwy 228) Exit 216
        <span class="item-note">$45</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedAlbany-list-item209" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Santiam+Rest+Area,+Oregon+99E,+Jefferson,+OR/@44.6983005,-123.12634,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c00e7716e9d2af:0x1a31eaf8e0103111!2m2!1d-123.0529395!2d44.7413221!3e0?hl=en">I-5 @ Santiam Rest Area
        <span class="item-note">$25</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedAlbany-list-item210" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Independence,+OR/@44.7435597,-123.3049043,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c004832045cdd5:0x7c7d59a75feeb0b!2m2!1d-123.1867656!2d44.8512305!3e0?hl=en">Independence/Monmouth
        <span class="item-note">$55</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedAlbany-list-item220" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Jefferson,+OR/@44.6782438,-123.0913196,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c00c492e53c017:0xf81246fa25d9d17f!2m2!1d-123.0103708!2d44.7195662!3e0?hl=en">Jefferson
        <span class="item-note">$25</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedAlbany-list-item221" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Lebanon,+OR/@44.5882008,-123.0995609,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!3e0?hl=en">Lebanon
        <span class="item-note">$35</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedAlbany-list-item222" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Love's+Travel+Stop,+Old+Salem+Road+Northeast,+Albany,+OR/@44.6711627,-123.1109421,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c013851a15c0d9:0x49d4c06c2c071821!2m2!1d-123.0542152!2d44.6993281!3e0?hl=en">Love's Travel Stop
        <span class="item-note">$15</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedAlbany-list-item223" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Millersburg,+OR/@44.6590346,-123.0985148,14z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c012e637f9f533:0x9d705e081419f85b!2m2!1d-123.0614829!2d44.680955!3e0?hl=en">Millersburg
        <span class="item-note">$12-$16</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedAlbany-list-item224" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Philomath,+OR/@44.6052314,-123.303974,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c03778881c5cdd:0x466e24dd32072cd6!2m2!1d-123.3676014!2d44.540121!3e0?hl=en">Philomath
        <span class="item-note">$40-$50</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedAlbany-list-item225">Portland Metro
        <span class="item-note">$225-$290</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedAlbany-list-item226" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Salem,+OR/@44.7935741,-123.1827502,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54bffefcbc4b9c63:0xf93429e08f0357c2!2m2!1d-123.0350963!2d44.9428975!3e0?hl=en">Salem/Keizer
        <span class="item-note">$60-$80</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedAlbany-list-item227" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Scio,+OR/@44.6723129,-123.0436557,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54bf8a16881681d1:0xac9af3a75b2f62b1!2m2!1d-122.8492562!2d44.7048445!3e0?hl=en">Scio
        <span class="item-note">$55</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedAlbany-list-item228" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Shedd,+OR/@44.5618955,-123.246069,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c05cd0898a04cf:0x7ef4350bebe455be!2m2!1d-123.1103714!2d44.4615117!3e0?hl=en">Shedd
        <span class="item-note">$40</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedAlbany-list-item229" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Silverton,+OR/@44.821475,-123.2229506,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54bfe07bc11de4c7:0xf4653d5a2e468349!2m2!1d-122.7831455!2d45.0051213!3e0?hl=en">Silverton
        <span class="item-note">$90</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedAlbany-list-item230" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Stayton,+OR/@44.7152075,-123.0183985,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54bff43f5749ab23:0xb2fc3c384eaf50e1!2m2!1d-122.7945333!2d44.8006775!3e0?hl=en">Stayton
        <span class="item-note">$70</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedAlbany-list-item271" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Sweet+Home,+OR/@44.4949873,-123.0649342,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c0885f05da20c1:0x4a54043a7d0eefe4!2m2!1d-122.7361958!2d44.3976247!3e0?hl=en">Sweet Home
        <span class="item-note">$60</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedAlbany-list-item272" href-inappbrowser="https://www.google.com/maps/dir/422+Southeast+1st+Avenue,+Albany,+OR+97321,+USA/Tangent,+OR/@44.5895661,-123.1961772,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c06caceee7c603:0xe7afdeb295c0a749!2m2!1d-123.1002666!2d44.6376945!1m5!1m1!1s0x54c04208cb9850c7:0x1b63a1e2237f209c!2m2!1d-123.1081497!2d44.5412335!3e0?hl=en">Tangent
        <span class="item-note">$12-$16</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div id="frequentlyUsedAlbany-markdown5" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:11px;">All pricing is based roughly on a $2.50 per mile surcharge, a $3.00 flag drop or show up fee, and other mitigating factors such as distance, metropolitan areas, mountain passes, etc.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="../img/rotateTires.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto; max-width: 450px;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>