<ion-view title="Frequently Used - Lebanon" hide-nav-bar="true" id="page11" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="frequentlyUsedLebanon-heading6" style="color:#FFFFFF;text-align:center;">FREQUENT LEBANON DESTINATIONS</h5>
    <div id="frequentlyUsedLebanon-button-bar8" class="button-bar">
      <a ui-sref="allStarPricing()" id="frequentlyUsedLebanon-button31" class="button button-energized button-block icon-left ion-android-arrow-back">MAIN MENU</a>
      <a ui-sref="allLebanonDestinations()" id="frequentlyUsedLebanon-button32" class="button button-energized button-block icon-right ion-android-arrow-forward">ALL LEBANON</a>
    </div>
    <ion-list id="frequentlyUsedLebanon-list3">
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedLebanon-list-item23" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Albany,+OR/@44.5919834,-123.0797025,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!3e0?hl=en">Albany
        <span class="item-note">$35</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedLebanon-list-item103">Brownsville
        <span class="item-note">$40</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedLebanon-list-item24" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Corvallis,+OR/@44.5519815,-123.1545785,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c0409daa14d77d:0xd70d808f22bdc0be!2m2!1d-123.2620435!2d44.5645659!3e0?hl=en">Cascadia
        <span class="item-note">$65</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedLebanon-list-item200" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Corvallis,+OR/@44.5519815,-123.1545785,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c0409daa14d77d:0xd70d808f22bdc0be!2m2!1d-123.2620435!2d44.5645659!3e0?hl=en">Corvallis
        <span class="item-note">$50</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedLebanon-list-item25" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Crabtree,+OR/@44.5858908,-122.9801799,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c072330260a767:0xec419d855b8ea179!2m2!1d-122.8986429!2d44.6353266!3e0?hl=en">Crabtree
        <span class="item-note">$25</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedLebanon-list-item26" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Eugene,+OR/@44.3029404,-123.1948841,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c119b0ac501919:0x57ec61894a43894d!2m2!1d-123.0867536!2d44.0520691!3e0?hl=en">Eugene
        <span class="item-note">$115</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedLebanon-list-item198" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Eugene+Airport+(EUG),+Douglas+Drive,+Eugene,+OR/@44.3201341,-123.3416426,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c102dec4db7dd1:0xf6acae00aa866d93!2m2!1d-123.2159003!2d44.1217811!3e0?hl=en">Eugene Airport
        <span class="item-note">$110</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedLebanon-list-item27" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Halsey,+OR/@44.4705999,-123.0795606,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c05963fb8b8651:0x95a12d8c1acf7aff!2m2!1d-123.1098145!2d44.3840122!3e0?hl=en">Halsey
        <span class="item-note">$55</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedLebanon-list-item131" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Holley,+OR/@44.447001,-122.9626782,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c08bbf397c559d:0x32daaa81e2fd4236!2m2!1d-122.7838197!2d44.3547389!3e0?hl=en">Holley
        <span class="item-note">$45</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedLebanon-list-item134" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Hwy+34+%26+I-5,+Oregon+34,+Albany,+OR/@44.5439009,-123.0202694,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c06970f0535a2b:0x8204ca8febe0d6f4!2m2!1d-123.0649683!2d44.5560888!3e0?hl=en">I-5 @ Hwy. 34 Exit 228
        <span class="item-note">$25</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedLebanon-list-item135" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Pioneer+Villa+Truck+Plaza,+33180+OR-228,+Halsey,+OR+97348/@44.4718627,-123.055261,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c05ec9d05716e9:0x4b52d4758554beb6!2m2!1d-123.0574743!2d44.3877688!3e0?hl=en">I-5 @ Hwy. 228 Exit 216
        <span class="item-note">$55</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedLebanon-list-item136" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Santiam+Rest+Area,+Oregon+99E,+Jefferson,+OR/@44.6479919,-123.1240351,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c00e7716e9d2af:0x1a31eaf8e0103111!2m2!1d-123.0529395!2d44.7413221!3e0?hl=en">I-5 @ Santiam Rest Area
        <span class="item-note">$65</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedLebanon-list-item150" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Lacomb,+OR/@44.5475024,-122.8596492,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c079fca5c8fa57:0x8fbf162287c2e7ab!2m2!1d-122.74222!2d44.58528!3e0?hl=en">Lacomb
        <span class="item-note">$30</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedLebanon-list-item151" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Love's+Travel+Stop,+Old+Salem+Road+Northeast,+Albany,+OR/@44.6227309,-123.0539915,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c013851a15c0d9:0x49d4c06c2c071821!2m2!1d-123.0542152!2d44.6993281!3e0?hl=en">Love's Travel Stop
        <span class="item-note">$40</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedLebanon-list-item154" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/PDX,+Northeast+Airport+Way,+Portland,+OR/@45.0617389,-123.3663966,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x5495a0aa74dc20d1:0x5bda7693380e5c3d!2m2!1d-122.5950942!2d45.5897694!3e0?hl=en">PDX
        <span class="item-note">$275</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedLebanon-list-item199" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Portland,+OR/@45.0249137,-123.4282161,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54950b0b7da97427:0x1c36b9e6f6d18591!2m2!1d-122.6793461!2d45.5154586!3e0?hl=en">Portland
        <span class="item-note">$250</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedLebanon-list-item155" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Salem,+OR/@44.7395421,-123.2074481,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bffefcbc4b9c63:0xf93429e08f0357c2!2m2!1d-123.0350963!2d44.9428975!3e0?hl=en">Salem
        <span class="item-note">$60-$75</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedLebanon-list-item156" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Scio,+OR/@44.6206255,-122.9678076,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bf8a16881681d1:0xac9af3a75b2f62b1!2m2!1d-122.8492562!2d44.7048445!3e0?hl=en">Scio
        <span class="item-note">$45</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedLebanon-list-item193" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Shedd,+OR/@44.5084139,-123.0795606,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c05cd0898a04cf:0x7ef4350bebe455be!2m2!1d-123.1103714!2d44.4615117!3e0?hl=en">Shedd
        <span class="item-note">$40</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedLebanon-list-item194" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Sodaville,+OR/@44.510115,-122.9226928,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c064695dd98f6f:0xd573a90077360644!2m2!1d-122.8690294!2d44.4837288!3e0?hl=en">Sodaville
        <span class="item-note">$20</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedLebanon-list-item195" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Sweet+Home,+OR/@44.4687547,-122.8916766,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c0885f05da20c1:0x4a54043a7d0eefe4!2m2!1d-122.7361958!2d44.3976247!3e0?hl=en">Sweet Home
        <span class="item-note">$35</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedLebanon-list-item196" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Tangent,+OR/@44.5429636,-123.0776316,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c04208cb9850c7:0x1b63a1e2237f209c!2m2!1d-123.1081497!2d44.5412335!3e0?hl=en">Tangent
        <span class="item-note">$35</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="frequentlyUsedLebanon-list-item197" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Waterloo,+OR/@44.5146184,-122.8986667,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c0649631f68bc3:0x39e7b2d5128cdf87!2m2!1d-122.8253658!2d44.4940121!3e0?hl=en">Waterloo
        <span class="item-note">$20</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div id="frequentlyUsedLebanon-markdown4" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:11px;">All pricing is based roughly on a $2.50 per mile surcharge, a $3.00 flag drop or show up fee, and other mitigating factors such as distance, metropolitan areas, mountain passes, etc.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="../img/driversNoSmokingSign.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto; max-width: 400px;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>