<ion-view title="Lebanon J Destinations" hide-nav-bar="true" id="page22" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="lebanonJDestinations-heading98" style="color:#FFFFFF;text-align:center;">LEBANON J DESTINATIONS</h5>
    <div id="lebanonJDestinations-button-bar20" class="button-bar">
      <a ui-sref="allLebanonDestinations()" id="lebanonJDestinations-button64" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedLebanon()" id="lebanonJDestinations-button65" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <div class="border">
      <img src="../img/PRIDE-IN-SERVICE.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="lebanonJDestinations-list24">
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonJDestinations-list-item109" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Jacksonville,+OR/@43.4296126,-123.696834,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54cf9c601d18ecf1:0xe8c70a05ce75c30!2m2!1d-122.9669865!2d42.3134584!3e0?hl=en">Jacksonville
        <span class="item-note">$490</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonJDestinations-list-item110" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Jefferson,+OR/@44.6279221,-123.0793286,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c00c492e53c017:0xf81246fa25d9d17f!2m2!1d-123.0103708!2d44.7195662!3e0?hl=en">Jefferson
        <span class="item-note">$35</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="lebanonJDestinations-list23">
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonJDestinations-list-item111" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/John+Day,+OR/@44.4665789,-122.1138069,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bb05716ba757ab:0x9f2d0f27d0de17a6!2m2!1d-118.95301!2d44.4159883!3e0?hl=en">John Day
          <span class="item-note">$590</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonJDestinations-list-item112" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Johnson+City,+OR/@45.0642206,-123.166509,9.5z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x549575ce86f2006f:0x81a2dbe6e811d494!2m2!1d-122.5806713!2d45.4049709!3e0?hl=en">Johnson City
          <span class="item-note">$255</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonJDestinations-list-item610" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Jordan,+OR/@44.631749,-122.9646465,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bf8ba0bd5ddf2d:0x7e3124d32146c8ca!2m2!1d-122.69861!2d44.72722!3e0?hl=en">Jordan (Linn)
          <span class="item-note">$70</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonJDestinations-list-item113">Joseph
          <span class="item-note">$900</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonJDestinations-list-item114" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Junction+City,+OR/@44.393112,-123.2432929,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c0fef13a8305e1:0xf9cd6cf319840d17!2m2!1d-123.2056484!2d44.2192901!3e0?hl=en">Junction City
          <span class="item-note">$80</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>