<ion-view title="Lebanon P Destinations" hide-nav-bar="true" id="page28" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="lebanonPDestinations-heading104" style="color:#FFFFFF;text-align:center;">LEBANON P DESTINATIONS</h5>
    <div id="lebanonPDestinations-button-bar26" class="button-bar">
      <a ui-sref="allLebanonDestinations()" id="lebanonPDestinations-button76" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedLebanon()" id="lebanonPDestinations-button77" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="lebanonPDestinations-list38">
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonPDestinations-list-item211" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Pendleton,+OR/@45.0493246,-122.0456483,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54a2e143d6f4685b:0xa1431081cc39651c!2m2!1d-118.7885967!2d45.672075!3e0?hl=en">Pendleton
        <span class="item-note">$735</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonPDestinations-list-item618" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Peoria,+OR/@44.5078952,-123.129917,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c044d01237f371:0xdfcc914eade6afc9!2m2!1d-123.2073187!2d44.4487336!3e0?hl=en">Peoria (Linn)
        <span class="item-note">$60</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonPDestinations-list-item212" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Philomath,+OR/@44.5919192,-123.2766501,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c03778881c5cdd:0x466e24dd32072cd6!2m2!1d-123.3676014!2d44.540121!3e0?hl=en">Philomath
        <span class="item-note">$50-$60</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="lebanonPDestinations-list37">
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonPDestinations-list-item213" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Phoenix,+OR/@43.4105421,-123.6968343,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54cf78e17ae61e11:0xf93799f2d11134a7!2m2!1d-122.818092!2d42.2754058!3e0?hl=en">Phoenix
          <span class="item-note">$530</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonPDestinations-list-item214" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Pilot+Rock,+OR/@45.1829528,-122.0457804,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54a3238d40ffad37:0xfc17de6d463962a4!2m2!1d-118.8299848!2d45.4831849!3e0?hl=en">Pilot Rock
          <span class="item-note">$745</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonPDestinations-list-item215" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Portland,+OR/@45.0249137,-123.4282161,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54950b0b7da97427:0x1c36b9e6f6d18591!2m2!1d-122.6793461!2d45.5154586!3e0?hl=en">Portland Metro Area
          <span class="item-note">$250-$290</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonPDestinations-list-item216" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Port+Orford,+OR/@43.6457121,-124.8235554,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c4ceffa19a8e71:0xa198b7e548bab16f!2m2!1d-124.4973267!2d42.7456644!3e0?hl=en">Port Orford
          <span class="item-note">$495</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonPDestinations-list-item217" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Powers,+OR/@43.7758891,-124.6984493,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c4efc94062ace3:0x7bb144eae600c0c!2m2!1d-124.073152!2d42.8834435!3e0?hl=en">Powers
          <span class="item-note">$475</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonPDestinations-list-item218" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Prairie+City,+OR/@44.4665789,-122.0072309,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bafe14999a0453:0x323f154572634beb!2m2!1d-118.7099477!2d44.4632135!3e0?hl=en">Prairie City
          <span class="item-note">$615</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonPDestinations-list-item657" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Pratum,+OR/@44.7475126,-123.2069627,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bffb7e4671fea9:0xd5a8fbcf69af2c00!2m2!1d-122.8774999!2d44.95917!3e0?hl=en">Pratum (Marion)
          <span class="item-note">$70</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonPDestinations-list-item219" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Prineville,+OR/@44.3905999,-122.4310723,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54b93242c69c625d:0xff79fca183b4ef0c!2m2!1d-120.8344664!2d44.2998485!3e0?hl=en">Prineville
          <span class="item-note">$340</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div id="lebanonPDestinations-markdown21" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:10px;">If you are uncertain about the location of the destination, just tap the destination again and let Google show you the way.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>