<ion-view title="Lebanon M Destinations" hide-nav-bar="true" id="page25" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="lebanonMDestinations-heading101" style="color:#FFFFFF;text-align:center;">LEBANON M DESTINATIONS</h5>
    <div id="lebanonMDestinations-button-bar23" class="button-bar">
      <a ui-sref="allLebanonDestinations()" id="lebanonMDestinations-button70" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedLebanon()" id="lebanonMDestinations-button71" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="lebanonMDestinations-list30">
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item157" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Macleay,+OR/@44.7248295,-123.2074481,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bffa2833ef687f:0x7ee11576deb97bf3!2m2!1d-122.88611!2d44.90806!3e0?hl=en">Macleay (Marion)
        <span class="item-note">$75</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item647" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Madras,+OR/@44.8495444,-122.6559157,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bee98a71bb48a7:0xc7e8145e5d1dfa82!2m2!1d-121.1294872!2d44.6334544!3e0?hl=en">Madras
        <span class="item-note">$400</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item158" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Malin,+OR/@43.2792125,-123.5222511,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c9365d4b47bac3:0x54722e5a2196ad0a!2m2!1d-121.4086021!2d42.0126551!3e0?hl=en">Malin
        <span class="item-note">$620</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="lebanonMDestinations-list29">
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item159" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Manzanita,+OR/@45.2229464,-123.8997211,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x5494b61a5fb38495:0x9b94c876e8acf657!2m2!1d-123.9351354!2d45.7184398!3e0?hl=en">Manzanita
          <span class="item-note">$320</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item676" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Marcola,+OR/@44.364122,-123.1829981,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c0eefcd10943b7:0x6d72926feb0874af!2m2!1d-122.8591736!2d44.1732515!3e0?hl=en">Marcola
          <span class="item-note">$120</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item615" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Marion,+OR/@44.6426444,-123.091701,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c009990e890b1f:0x4096307fd9892765!2m2!1d-122.942314!2d44.7490108!3e0?hl=en">Marion (Marion)
          <span class="item-note">$40</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item616" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Marion+Forks,+OR/@44.5925357,-122.7665626,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bf095fd8862a17:0xbae29c024d96d1d6!2m2!1d-121.94694!2d44.61556!3e0?hl=en">Marion Forks (Linn)
          <span class="item-note">$200</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item160" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Maywood+Park,+OR/@45.4863476,-122.7387122,11z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x5495a158f5b2d61f:0xd1f0a85fd26b0e26!2m2!1d-122.5608799!2d45.5527762!3e0?hl=en">Maywood Park
          <span class="item-note">$285</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item161" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/McKee,+OR/@44.8263889,-123.2035728,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54955f19bb65cdc9:0x27ef0702e2bb2cac!2m2!1d-122.80694!2d45.1!3e0?hl=en">McKee (Marion)
          <span class="item-note">$115</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item648" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/McMinnville,+OR/@44.8729373,-123.3626456,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54954eb717c973a3:0xca44701bdb45cf48!2m2!1d-123.1987163!2d45.2101162!3e0?hl=en">McMinnville
          <span class="item-note">$120</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item162" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Medford,+OR/@43.4361409,-123.696834,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54cf7c5b37361f6d:0x7db736c5541136e!2m2!1d-122.8755949!2d42.3265152!3e0?hl=en">Medford
          <span class="item-note">$520</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item649" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Mehama,+OR/@44.6642172,-122.8533699,10.25z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bff2bfee7a5cbf:0xbdfc716406b357b8!2m2!1d-122.6192523!2d44.7901219!3e0?hl=en">Mehama (Marion)
          <span class="item-note">$85</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item174" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Merrill,+OR/@43.1746201,-122.5623352,8.25z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54ceccc42d960761:0x8675b92e13b2390f!2m2!1d-121.6005501!2d42.0251516!3e0?hl=en">Merrill
          <span class="item-note">$575</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item175" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Metolius,+OR/@44.5284676,-122.641397,9z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bee8271b141905:0x71bc327c8224250!2m2!1d-121.1783761!2d44.5865092!3e0?hl=en">Metolius
          <span class="item-note">$325</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item176" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Middle+Grove,+Hayesville,+OR/@44.5284676,-122.641397,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bffc2a36ee09eb:0x9bb6199a76e777aa!2m2!1d-122.9653726!2d44.9698422!3e0?hl=en">Middle Grove (Marion)
          <span class="item-note">$65</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item650" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Mill+City,+OR/@44.5284676,-122.641397,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bf919de621893f:0xf56b78bf15a020f2!2m2!1d-122.4781385!2d44.7540106!3e0?hl=en">Mill City
          <span class="item-note">$90</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item177" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Millersburg,+OR/@44.59233,-123.1057858,11z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c012e637f9f533:0x9d705e081419f85b!2m2!1d-123.0614829!2d44.680955!3e0?hl=en">Millersburg
          <span class="item-note">$35</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item178" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Milton-Freewater,+OR/@45.5702892,-119.4972467,9.5z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54a244cbf7b67cff:0xf7b12e68b3befc1f!2m2!1d-118.3877435!2d45.9326346!3e0?hl=en">Milton-Freewater
          <span class="item-note">$715</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item179" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Milwaukie,+OR/@45.0321725,-123.0557865,9.25z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x5495743c53f9ad3f:0x34bbb4e04828350c!2m2!1d-122.6323315!2d45.4465323!3e0?hl=en">Milwaukie
          <span class="item-note">$270</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item181" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Molalla,+OR/@44.8545997,-123.1030698,10z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x5495626d8096ae53:0x8eba113efac92d7e!2m2!1d-122.5756477!2d45.1462914!3e0?hl=en">Molalla
          <span class="item-note">$160</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item182" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Monitor,+OR/@44.8263889,-123.1831059,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54955f9478b8ac27:0xcff9710e4c567cca!2m2!1d-122.7481463!2d45.1015099!3e0?hl=en">Monitor (Marion)
          <span class="item-note">$120</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item651" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Monmouth,+OR/@44.6937562,-123.2225471,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c003575d813685:0x90459036c9e5df8e!2m2!1d-123.2339888!2d44.8484524!3e0?hl=en">Monmouth
          <span class="item-note">$75</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item183" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Monroe,+OR/@44.4498815,-123.3826405,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c0540d671b2af7:0x707f2da9e0ac2f24!2m2!1d-123.2967637!2d44.3140116!3e0?hl=en">Monroe
          <span class="item-note">$80</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-iteml183" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Mosier,+OR/@45.1242433,-122.7902449,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x5496107293f9385f:0x49a5ea7ac79e5022!2m2!1d-121.397295!2d45.6834528!3e0?hl=en">Mosier
          <span class="item-note">$350</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item184" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Mt+Angel,+OR/@44.8195241,-123.2035728,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bfe1fd140edf83:0xfcf5b7230de485c3!2m2!1d-122.8000917!2d45.0678986!3e0?hl=en">Mt Angel
          <span class="item-note">$110</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item185" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Mt+Hood+Village,+OR/@44.9831725,-122.9276773,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54958a17d306fb1b:0x5a93c108bbcea5bb!2m2!1d-121.9735364!2d45.3511939!3e0?hl=en">Mt Hood Villages
          <span class="item-note">$290-$325</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item95" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Mt+Vernon,+OR/@44.3671286,-119.2347273,11.5z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bb08323555dd4d:0x1cfa631ef49ddb5b!2m2!1d-119.1135709!2d44.4176525!3e0?hl=en">Mt Vernon
          <span class="item-note">$570</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item476">Mulino
          <span class="item-note">$155</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item186" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Myrtle+Creek,+OR/@43.7820655,-124.2616735,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c434006cb71b55:0x4f8bb70c4a117b75!2m2!1d-123.2931205!2d43.0201173!3e0?hl=en">Myrtle Creek
          <span class="item-note">$320</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonMDestinations-list-item187" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Myrtle+Point,+OR/@43.8152902,-124.6984488,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c48bfa55fc3c2d:0x7ad4dd78e0f179be!2m2!1d-124.138992!2d43.064832!3e0?hl=en">Myrtle Point
          <span class="item-note">$425</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>