<ion-view title="Lebanon R Destinations" hide-nav-bar="true" id="page15" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="lebanonRDestinations-heading106" style="color:#FFFFFF;text-align:center;">LEBANON R DESTINATIONS</h5>
    <div id="lebanonRDestinations-button-bar11" class="button-bar">
      <a ui-sref="allLebanonDestinations()" id="lebanonRDestinations-button50" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedLebanon()" id="lebanonRDestinations-button51" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="lebanonRDestinations-list42">
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonRDestinations-list-item104" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Rainier,+OR/@45.3244415,-123.9786172,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54946bc3edd09cd1:0x1c1d075ba7681f3c!2m2!1d-122.9359008!2d46.0891013!3e0?hl=en">Rainier
        <span class="item-note">$320</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonRDestinations-list-item105" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Redmond,+OR/@44.4014824,-122.600557,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54b8d4d44e8c51bb:0x9438d260c06b7918!2m2!1d-121.1739212!2d44.2726203!3e0?hl=en">Redmond
        <span class="item-note">$345</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="lebanonRDestinations-list41">
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonRDestinations-list-item106" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Reedsport,+OR/@44.0944327,-124.0084606,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c3c3b9ac656e47:0x7b79c93b5e4b888!2m2!1d-124.0967779!2d43.7023389!3e0?hl=en">Reedsport
          <span class="item-note">$335</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonRDestinations-list-item107" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Rickreall,+OR/@44.7410583,-123.3626456,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54eaa9e41937d025:0x9450b07d56cb43ca!2m2!1d-123.2351038!2d44.9322825!3e0?hl=en">Rickreall
          <span class="item-note">$105</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonRDestinations-list-item290" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Riddle,+OR/@43.7483557,-124.261674,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c44ae3c7f9f679:0x4ccec21594bae53d!2m2!1d-123.3642332!2d42.9509507!3e0?hl=en">Riddle
          <span class="item-note">$365</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonRDestinations-list-item108" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Rivergrove,+OR/@44.9650966,-123.4569666,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x549572f388721005:0x479c0f4eda4b5c68!2m2!1d-122.7307318!2d45.3861513!3e0?hl=en">Rivergrove
          <span class="item-note">$255</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonRDestinations-list-item620" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Riverside,+OR/@44.5800351,-123.1042044,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c06adb0bfda321:0x697111151360a99a!2m2!1d-123.1575962!2d44.6067883!3e0?hl=en">Riverside (Linn)
          <span class="item-note">$15-$25</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonRDestinations-list-item132" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Rockaway+Beach,+OR/@45.0942194,-123.9060903,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x5494cc81e6ee733b:0x4e2cbbb21e20c98d!2m2!1d-123.9429115!2d45.613438!3e0?hl=en">Rockaway Beach
          <span class="item-note">$300</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonRDestinations-list-item133">Rogue River
          <span class="item-note">$440</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonRDestinations-list-item658" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Roseburg,+OR/@43.2642357,-123.4854744,9.5z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c422c54b5959cd:0x5fa45e16d7c2fd91!2m2!1d-123.3417381!2d43.216505!3e0?hl=en">Roseburg
          <span class="item-note">$295</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonRDestinations-list-item98" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Rosedale,+OR/@44.8498228,-123.0734173,12.5z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c006595745fe4b:0x715d6e5c558fbae8!2m2!1d-123.0614847!2d44.8545647!3e0?hl=en">Rosedale (Marion)
          <span class="item-note">$55</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div id="lebanonRDestinations-markdown19" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:10px;">All pricing is based roughly on a $2.50 per mile surcharge, a $3.00 flag drop or show up fee, and other mitigating factors such as distance, metropolitan areas, mountain passes, etc.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>