<ion-view title="Lebanon K Destinations" hide-nav-bar="true" id="page23" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="lebanonKDestinations-heading99" style="color:#FFFFFF;text-align:center;">LEBANON K DESTINATIONS</h5>
    <div id="lebanonKDestinations-button-bar21" class="button-bar">
      <a ui-sref="allLebanonDestinations()" id="lebanonKDestinations-button66" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedLebanon()" id="lebanonKDestinations-button67" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <div class="border">
      <img src="../img/doUlisten.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto; max-width: 500px;">
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="lebanonKDestinations-list26">
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonKDestinations-list-item126" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Keizer,+OR/@44.7646887,-123.2641336,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x549555fc12c65769:0x2666089ebb18e68e!2m2!1d-123.0262077!2d44.9901194!3e0?hl=en">Keizer
        <span class="item-note">$85</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonKDestinations-list-item127" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/King+City,+OR/@44.9682022,-123.4752599,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54950d548e01df21:0x80b8d304e533ab2!2m2!1d-122.8044946!2d45.4026959!3e0?hl=en">King City
        <span class="item-note">$260</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonKDestinations-list-item612" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Kingston,+OR/@44.6625075,-123.0024133,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bff4f6870d021d:0xdb3999d6ca284640!2m2!1d-122.774255!2d44.7837333!3e0?hl=en">Kingston (Linn)
        <span class="item-note">$65</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="lebanonKDestinations-list25">
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonKDestinations-list-item128" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Kings+Valley,+OR/@44.6433742,-123.310421,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c0232568463d3d:0xb0058d5b63d28179!2m2!1d-123.4345476!2d44.7067856!3e0?hl=en">Kings Valley(Benton)
          <span class="item-note">$95</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonKDestinations-list-item129" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Klamath+Falls,+OR/@43.3684282,-123.6968348,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c8d45968f20ee3:0xf48d7ff528b99726!2m2!1d-121.7816704!2d42.224867!3e0?hl=en">Klamath Falls
          <span class="item-note">$550</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>