<ion-view title="Lebanon U &amp; V Destinations" hide-nav-bar="true" id="page32" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="lebanonUVDestinations-heading109" style="color:#FFFFFF;text-align:center;">LEBANON U &amp; V DESTINATIONS</h5>
    <div id="lebanonUVDestinations-button-bar30" class="button-bar">
      <a ui-sref="allLebanonDestinations()" id="lebanonUVDestinations-button84" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedLebanon()" id="lebanonUVDestinations-button85" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="lebanonUVDestinations-list48">
        <ion-item class="energized fare-list-item" id="lebanonUVDestinations-list-itemL293" style="text-align: center"><b>U Destinations</b></ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonUVDestinations-list-item282" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Umatilla,+OR/@45.2215173,-122.323498,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54a2bb663a707b09:0x5d13e1ee87d730b4!2m2!1d-119.3425179!2d45.9173549!3e0?hl=en">Umatilla
        <span class="item-note">$535</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonUVDestinations-list-item283" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Union,+OR/@45.7277295,-120.0451404,8.25z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54a38015fa5b2fbd:0x256fc25911159219!2m2!1d-117.8652126!2d45.2084696!3e0?hl=en">Union
        <span class="item-note">$680</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <div class="spacer" style="height: 20px;"></div>
      <div>
        <img class="border" src="../img/driversNoSmokingSign.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto; max-width: 500px;">
      </div>
      <div class="spacer" style="height: 20px;"></div>
      <ion-list id="lebanonUVDestinations-list47">
        <ion-item class="energized fare-list-item" id="lebanonUVDestinations-list-item293" style="text-align: center"><b>V Destinations</b></ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonUVDestinations-list-item284" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Vale,+OR/@44.0268467,-121.2717686,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54a559b98f76d627:0x840261f7a0bda639!2m2!1d-117.2382311!2d43.9821055!3e0?hl=en">Vale
          <span class="item-note">$840</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonUVDestinations-list-item285" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Veneta,+OR/@44.3020802,-123.4115229,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c1100c52d7cd65:0xf4e3861a01eae7a6!2m2!1d-123.3509294!2d44.0487342!3e0?hl=en">Veneta
          <span class="item-note">$155</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonUVDestinations-list-item286" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Vernonia,+OR/@45.4234872,-123.1820628,9z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x5494f6862badd5e3:0x1efc37122c34016c!2m2!1d-123.1977937!2d45.8586888!3e0?hl=en">Vernonia
          <span class="item-note">$325</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div id="lebanonUVDestinations-markdown167" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:10px;">&#9734; All pricing is based roughly on a $2.50 per mile surcharge, a $3.00 flag drop or show up fee, and other mitigating factors such as distance, metropolitan areas, mountain passes, etc.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>