<ion-view title="Lebanon N Destinations" hide-nav-bar="true" id="page26" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="lebanonNDestinations-heading102" style="color:#FFFFFF;text-align:center;">LEBANON N DESTINATIONS</h5>
    <div id="lebanonNDestinations-button-bar24" class="button-bar">
      <a ui-sref="allLebanonDestinations()" id="lebanonNDestinations-button72" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedLebanon()" id="lebanonNDestinations-button73" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="lebanonNDestinations-list34">
      <ion-list id="lebanonNDestinations-list31">
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonNDestinations-list-item189" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Nehalem,+OR/@45.2229464,-123.8849356,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x5494c9d3fc7bc7b5:0x700258b01aecb3a9!2m2!1d-123.8940225!2d45.7201074!3e0?hl=en">Nehalem
          <span class="item-note">$300</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonNDestinations-list-item188" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Newberg,+OR/@44.9200856,-123.5566774,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54956a9db16c526d:0x425e72287c715ccb!2m2!1d-122.9469406!2d45.3064628!3e0?hl=en">Newburg
          <span class="item-note">$150</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonNDestinations-list-item97" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Newport,+OR/@44.6075284,-123.7596731,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c1d5db4c7c988d:0xd41f72f161fcfb72!2m2!1d-124.0534505!2d44.6367836!3e0?hl=en">Newport
          <span class="item-note">$210</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonNDestinations-list-item655" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Niagara,+OR/@44.6694018,-122.8244087,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bf97abafbf919d:0x6e7760a438a0b83e!2m2!1d-122.335!2d44.75806!3e0?hl=en">Niagara (Marion)
          <span class="item-note">$140</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonNDestinations-list-item190" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/North+Bend,+OR/@44.0415301,-124.1286368,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c394a5d3031865:0x360b9523fe5840c4!2m2!1d-124.2242803!2d43.4065012!3e0?hl=en">North Bend
          <span class="item-note">$400</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonNDestinations-list-item654" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/North+Howell,+OR/@44.7835771,-123.2069627,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bfe2bdc8391bb1:0x767484fbf5fd613f!2m2!1d-122.87222!2d45.03139!3e0?hl=en">North Howell (Marion)
          <span class="item-note">$110</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonNDestinations-list-item191" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/North+Plains,+OR/@45.0653648,-123.4633397,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x5495037c93d72ba9:0x42afff4af18f4482!2m2!1d-122.992888!2d45.5970077!3e0?hl=en">North Plains
          <span class="item-note">$280</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonNDestinations-list-item201" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Noti,+OR/@44.3073593,-123.4665978,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c10e445dee69ef:0xb70c90936b003014!2m2!1d-123.4487105!2d44.0590113!3e0?hl=en">Noti(Lane)
          <span class="item-note">$170</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonNDestinations-list-item192" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Nyssa,+OR/@44.1327736,-117.9812479,9.25z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54af94c4d3e28a67:0x4466cfdf7270ba25!2m2!1d-116.9948804!2d43.8768289!3e0?hl=en">Nyssa
          <span class="item-note">$980</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="../img/driversNoSmokingSign.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>