<ion-view title="Lebanon O Destinations" hide-nav-bar="true" id="page27" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="lebanonODestinations-heading103" style="color:#FFFFFF;text-align:center;">LEBANON O DESTINATIONS</h5>
    <div id="lebanonODestinations-button-bar25" class="button-bar">
      <a ui-sref="allLebanonDestinations()" id="lebanonODestinations-button74" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedLebanon()" id="lebanonODestinations-button75" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="lebanonODestinations-list36">
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonODestinations-list-item202" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Oakland,+OR/@43.9718172,-123.8432587,8.5z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c41c7cf3cc9e73:0x891f1115ce204574!2m2!1d-123.2984101!2d43.4220625!3e0?hl=en">Oakland
        <span class="item-note">$260</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonODestinations-list-item203" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Oakridge,+OR/@44.1492636,-123.3229822,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c72e512f94c9ad:0x85928a35c10c9d8f!2m2!1d-122.4617159!2d43.7465124!3e0?hl=en">Oakridge
        <span class="item-note">$210</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="lebanonODestinations-list35">
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonODestinations-list-item204" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Ontario,+OR/@44.6293615,-122.2496727,7z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54af8fabaacb6761:0x42b1fe6ec09457c5!2m2!1d-116.9629378!2d44.0265525!3e0?hl=en">Ontario
          <span class="item-note">$980</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonODestinations-list-item205" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Oregon+City,+OR/@44.9350339,-123.3729766,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x549579a63513bca5:0x2166f1e3b7be95ad!2m2!1d-122.6048473!2d45.3363593!3e0?hl=en">Oregon City
          <span class="item-note">$250</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonODestinations-list-item288" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Otis,+OR/@44.8039281,-123.7071206,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54ea934b036d254b:0xba5a87a5b94399bf!2m2!1d-123.9465021!2d45.0242748!3e0?hl=en">Otis
          <span class="item-note">$190</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="../img/driversNoSmokingSign.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>