<ion-view title="Lebanon E Destinations" hide-nav-bar="true" id="page14" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="lebanonEDestinations-heading92" style="color:#FFFFFF;text-align:center;">LEBANON E DESTINATIONS</h5>
    <div id="lebanonEDestinations-button-bar13" class="button-bar">
      <a ui-sref="allLebanonDestinations()" id="lebanonEDestinations-button20" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedLebanon()" id="lebanonEDestinations-button23" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="lebanonEDestinations-list9">
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonEDestinations-list-item12" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Eagle+Creek,+OR/@44.9657053,-123.2540082,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x5495833e0a6012e3:0xd5745197897e6de6!2m2!1d-122.3588744!2d45.3575239!3e0?hl=en">Eagle Creek
        <span class="item-note">$220</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonEDestinations-list-item148" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Eagle+Point,+OR/@43.4769492,-123.4685024,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c584c35ac4f903:0x6ba1b5db40990cc7!2m2!1d-122.8028177!2d42.4726258!3e0?hl=en">Eagle Point
        <span class="item-note">$500</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonEDestinations-list-item51" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Echo,+OR/@45.0493246,-122.2500334,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54a2c6840d5dc02b:0xba6da41eb56fcb52!2m2!1d-119.195567!2d45.7423537!3e0?hl=en">Echo
        <span class="item-note">$600</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonEDestinations-list-item149" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Eddyville,+OR/@44.5916623,-123.6211978,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c02ceffb430aa9:0xd02424e4fe5b0d13!2m2!1d-123.7764999!2d44.6345632!3e0?hl=en">Eddyville
        <span class="item-note">$135</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="lebanonEDestinations-list8">
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonEDestinations-list-item52" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Elgin,+OR/@45.2990497,-121.6103334,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54a3b921854dda15:0x1a031aa331f380d1!2m2!1d-117.917434!2d45.5648612!3e0?hl=en">Elgin
          <span class="item-note">$800</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonEDestinations-list-item301" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Elmira,+OR/@44.3176198,-123.4110225,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c1055441d328e1:0xf0b81f906e445645!2m2!1d-123.3546445!2d44.068663!3e0?hl=en">Elmira
          <span class="item-note">$125</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonEDestinations-list-item53" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Enterprise,+OR/@45.0384421,-121.2916408,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54a3f989267b6579:0xe9f23ce56433283b!2m2!1d-117.2787816!2d45.4262617!3e0?hl=en">Enterprise
          <span class="item-note">$820</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonEDestinations-list-item54" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Estacada,+OR/@44.9538117,-123.2540083,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54be2ca1f79449b9:0xb599ca0cf05e056f!2m2!1d-122.3338032!2d45.2944367!3e0?hl=en">Estacada
          <span class="item-note">$200</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonEDestinations-list-item55" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Eugene,+OR/@44.3082195,-123.3833916,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c119b0ac501919:0x57ec61894a43894d!2m2!1d-123.0867536!2d44.0520691!3e0?hl=en">Eugene
          <span class="item-note">$100</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="../img/AllStarToonCabLrg.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>