<ion-view title="Lebanon Y &amp; Z Destinations" hide-nav-bar="true" id="page21" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="lebanonYZDestinations-heading97" style="color:#FFFFFF;text-align:center;">LEBANON Y &amp; Z DESTINATIONS</h5>
    <div id="lebanonYZDestinations-button-bar19" class="button-bar">
      <a ui-sref="allLebanonDestinations()" id="lebanonYZDestinations-button62" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedLebanon()" id="lebanonYZDestinations-button63" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer"style="height: 20px;"></div>
    <ion-list id="lebanonYZDestinations-list21">
      <ion-item class="item-icon-right energized fare-list-item" style="text-align: center"><b>Y Destinations</b></ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonYZDestinations-list-item100" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Yachats,+OR/@44.3275042,-123.7969194,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c1950a42f833e9:0x1d66e8d291907cb2!2m2!1d-124.1048418!2d44.3112312!3e0?hl=en">Yachats
        <span class="item-note">$230</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonYZDestinations-list-item101" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Yamhill,+OR/@44.9378439,-123.6428859,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x5495393865f78ee3:0x6fded0f524f9e65d!2m2!1d-123.1878346!2d45.3415313!3e0?hl=en">Yamhill
        <span class="item-note">$185</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="lebanonYZDestinations-list20">
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonYZDestinations-list-item273" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Yaquina,+OR/@44.6075284,-123.7383085,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c1d727251560c5:0x784644327894dec8!2m2!1d-124.0087275!2d44.6020624!3e0?hl=en">Yaquina
          <span class="item-note">$200</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonYZDestinations-list-item102" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Yoncalla,+OR/@44.0828965,-123.6686304,9z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c14d497324e093:0xcc32546f3bb118b9!2m2!1d-123.2834167!2d43.5984531!3e0?hl=en">Yoncalla
          <span class="item-note">$220</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <div class="spacer"style="height: 20px;"></div>
        <div>
          <img src="../img/driversNoSmokingSign.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer"style="height: 20px;"></div>
        <ion-item class="energized fare-list-item" id="lebanonYZDestinations-list-item180" style="text-align:center" ><b>Z Destinations</b></ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonYZDestinations-list-item206" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Zigzag,+Mt+Hood+Village,+OR+97067/@45.3343379,-121.9548557,14.25z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54958a7e37cb91d7:0x131cfddd6e0a9cfa!2m2!1d-121.9431355!2d45.3440078!3e0?hl=en">ZigZag (Mt. Hood Village)
          <span class="item-note">$310</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div id="lebanonYZDestinations-markdown9" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:10px;">All pricing is based roughly on a $2.50 per mile surcharge, a $3.00 flag drop or show up fee, and other mitigating factors such as distance, metropolitan areas, mountain passes, etc.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>