<ion-view title="Lebanon C Destinations" hide-nav-bar="true" id="page12" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="lebanonCDestinations-heading89" style="color:#FFFFFF;text-align:center;">LEBANON C DESTINATIONS</h5>
    <div id="lebanonCDestinations-button-bar9" class="button-bar">
      <a ui-sref="allLebanonDestinations()" id="lebanonCDestinations-button48" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedLebanon()" id="lebanonCDestinations-button49" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="lebanonCDestinations-list5">
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item13" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Canby,+OR/@44.89798,-123.4297398,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x5495646375ceb84f:0x110fdcab2e1cddd4!2m2!1d-122.6921558!2d45.262205!3e0?hl=en">Canby
        <span class="item-note">$150</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item14" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Cannon+Beach,+OR/@45.2367304,-123.9132733,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x5494a52740cfce5d:0x1bfe4f4cea593a21!2m2!1d-123.9615274!2d45.8917738!3e0?hl=en">Cannon Beach
        <span class="item-note">$330</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="lebanonCDestinations-list4">
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item15" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Canyon+City,+OR/@44.1464945,-122.0361672,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bafe14999a0453:0xb2c6803db76a5c41!2m2!1d-118.9502315!2d44.3895995!3e0?hl=en">Canyon City
          <span class="item-note">$600</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item16" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Canyonville,+OR/@43.7363752,-124.2616741,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c5b563adc8c2af:0x21c4afd08181f221!2m2!1d-123.2811748!2d42.9273406!3e0?hl=en">Canyonville
          <span class="item-note">$340</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item17" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Carlton,+OR/@44.9274099,-123.6428859,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54953862facf54f5:0x39078b8decf0344!2m2!1d-123.1796697!2d45.2942902!3e0?hl=en">Carlton
          <span class="item-note">$180</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item18" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Cascade+Locks,+OR/@45.1017738,-123.0369234,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x5495e7382ff24e5f:0x80ce953af858268b!2m2!1d-121.8906355!2d45.6698392!3e0?hl=en">Cascade Locks
          <span class="item-note">$360</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item603" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Cascadia,+OR/@44.4631469,-122.835912,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c0838c4efe6367:0x4cca84ce8084f2a8!2m2!1d-122.4847651!2d44.3966665!3e0?hl=en">Cascadia (Linn)
          <span class="item-note">$55</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item19" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Cave+Junction,+OR/@43.3543298,-124.4002116,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54cff0eaa144ea39:0x2e0d1142815ae43!2m2!1d-123.6481235!2d42.1628912!3e0?hl=en">Cave Junction
          <span class="item-note">$480</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item20" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Central+Point,+OR/@43.4604712,-123.6968337,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c58762798c208b:0xa30b4f381b5ddd70!2m2!1d-122.9164307!2d42.3759586!3e0?hl=en">Central Point
          <span class="item-note">$470</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item21" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Chemawa,+Salem,+OR/@44.7708697,-123.2641336,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bffdfa01bf47c3:0xc78e9dc2f9278fe3!2m2!1d-122.9925959!2d45.0015084!3e0?hl=en">Chemawa (Marion)
          <span class="item-note">$80</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item130" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Chemawa,+Salem,+OR/@44.7708697,-123.2641336,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bffdfa01bf47c3:0xc78e9dc2f9278fe3!2m2!1d-122.9925959!2d45.0015084!3e0?hl=en">Cheshire (Lane)
          <span class="item-note">$115</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item634" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Chiloquin,+OR/@43.2503393,-123.3759498,7.5z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c884462c7d4561:0x7b92d1cee7d126aa!2m2!1d-121.8661258!2d42.5776364!3e0?hl=en">Chiloquin
          <span class="item-note">$470</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item28" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Clatskanie,+OR/@45.3244415,-124.0810927,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x549464d87b2e94f3:0x14a3ff5e8bccd9b6!2m2!1d-123.2039079!2d46.1041322!3e0?hl=en">Clatskanie
          <span class="item-note">$350</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item633" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Clear+Lake,+Oregon/@44.173058,-122.3992086,10z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bf685399b1d2b3:0x35bb998ee360feb8!2m2!1d-121.9943909!2d44.3686935!3e0?hl=en">Clear Lake
          <span class="item-note">$190</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item29" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Coburg,+OR/@44.3465515,-123.2669371,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c0e347c00aadad:0xc893f8d95013f9cf!2m2!1d-123.0664761!2d44.1370689!3e0?hl=en">Coburg
          <span class="item-note">$95</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item30" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Columbia+City,+OR/@45.2134604,-123.3729759,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54944f9224c422b9:0x359ce14018eb9fba!2m2!1d-122.8119681!2d45.8932123!3e0?hl=en">Columbia City
          <span class="item-note">$340</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item31" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Condon,+OR/@44.9855323,-122.7396837,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bdabaad0acfc7f:0x940626b71d782b79!2m2!1d-120.1850344!2d45.2342966!3e0?hl=en">Condon
          <span class="item-note">$500</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item32" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Coos+Bay,+OR/@43.754001,-124.6984496,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c3842b1c6c04e1:0x67d7f4c7ddc01229!2m2!1d-124.2178903!2d43.3665007!3e0?hl=en">Coos Bay
          <span class="item-note">$420</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item33" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Coquille,+OR/@43.754001,-124.6984496,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c47d210a7e250f:0x771587395ddcf1bd!2m2!1d-124.1876075!2d43.1770544!3e0?hl=en">Coquille
          <span class="item-note">$455</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item34" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Cornelius,+OR/@45.0571539,-123.5039012,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54953cd2e7ec96cb:0x679135cf0f5b7b3e!2m2!1d-123.0470343!2d45.5202273!3e0?hl=en">Cornelius
          <span class="item-note">$230</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item35" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Corvallis,+OR/@44.5519815,-123.1545785,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c0409daa14d77d:0xd70d808f22bdc0be!2m2!1d-123.2620435!2d44.5645659!3e0?hl=en">Corvallis
          <span class="item-note">$50</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item36" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Cottage+Grove,+OR/@44.1758011,-123.545652,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c1304c864c322d:0xba853c2b6e7b5fec!2m2!1d-123.0595246!2d43.797623!3e0?hl=en">Cottage Grove
          <span class="item-note">$180</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item37" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Cove,+Oregon+97824/@44.6704723,-121.5562482,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54a3841fb2f3105f:0x7f7ca273e96b13e1!2m2!1d-117.8079872!2d45.2965256!3e0?hl=en">Cove
          <span class="item-note">$800</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item38" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Crabtree,+OR/@44.5858908,-122.9801799,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c072330260a767:0xec419d855b8ea179!2m2!1d-122.8986429!2d44.6353266!3e0?hl=en">Crabtree (Linn)
          <span class="item-note">$25</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item605" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Crawfordsville,+OR/@44.4432769,-123.0085415,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c08add33c531df:0x7413d51cf30b6486!2m2!1d-122.8578637!2d44.357069!3e0?hl=en">Crawfordsville (Linn)
          <span class="item-note">$50</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item39" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Creswell,+OR/@44.2369269,-123.26541,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c123236edfc755:0x290bafe9076c4cb8!2m2!1d-123.0245261!2d43.9179023!3e0?hl=en">Creswell
          <span class="item-note">$125</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonCDestinations-list-item40" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Culver,+OR/@44.4014824,-122.6030356,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bedcf7ff7ccc05:0xb8213c122e1e4a7a!2m2!1d-121.2130974!2d44.5256753!3e0?hl=en">Culver
          <span class="item-note">$345</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="../img/PRIDE-IN-SERVICE.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>