<ion-view title="Lebanon G Destinations" hide-nav-bar="true" id="page18" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="lebanonGDestinations-heading94" style="color:#FFFFFF;text-align:center;">LEBANON G DESTINATIONS</h5>
    <div id="lebanonGDestinations-button-bar16" class="button-bar">
      <a ui-sref="allLebanonDestinations()" id="lebanonGDestinations-button56" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedLebanon()" id="lebanonGDestinations-button57" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="lebanonGDestinations-list13">
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonGDestinations-list-item71" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Garibaldi,+OR/@45.0942194,-123.8876359,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54eb32b0d4f49977:0x71bc327c8223d60!2m2!1d-123.9109643!2d45.5598266!3e0?hl=en">Garibaldi
        <span class="item-note">$300</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonGDestinations-list-item72" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Gaston,+OR/@44.9850015,-123.6428857,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x549517d8c478b2c9:0xc28c3603d9ad764b!2m2!1d-123.1396147!2d45.4363004!3e0?hl=en">Gaston
        <span class="item-note">$205</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="lebanonGDestinations-list12">
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonGDestinations-list-item73" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Gates,+OR/@44.6221888,-122.993989,10.5z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bf8361a284ad97:0x5d71deaffcf805af!2m2!1d-122.4167483!2d44.7562329!3e0?hl=en">Gates
          <span class="item-note">$115</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonGDestinations-list-item74" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Gearhart,+OR/@45.2748781,-124.4762749,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54949b86400d97c5:0xb2dd91a8a1d89ecb!2m2!1d-123.9112502!2d46.0242745!3e0?hl=en">Gearhart
          <span class="item-note">$310</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonGDestinations-list-item75">Gervais
          <span class="item-note">$90</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonGDestinations-list-item76" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Gladstone,+OR/@44.9590077,-123.3895469,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54957427216ed3ff:0xa5947e60149a6080!2m2!1d-122.5973104!2d45.3842943!3e0?hl=en">Gladstone
          <span class="item-note">$250</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonGDestinations-list-item77" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Glenbrook,+OR/@44.4498815,-123.4361736,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c1accac65e0ce1:0x8ebd2d98dab9fd58!2m2!1d-123.40528!2d44.31389!3e0?hl=en">Glenbrook (Benton)
          <span class="item-note">$115</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonGDestinations-list-item592" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Glendale,+OR/@43.6409955,-124.2863301,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c5afb216fe59ad:0x938f9244eafe5eeb!2m2!1d-123.4233992!2d42.7362284!3e0?hl=en">Glendale
          <span class="item-note">$400</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonGDestinations-list-item78" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Gold+Beach,+OR/@43.4765249,-124.8235575,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54dace49bf9ae73d:0x121195079f68806d!2m2!1d-124.4217741!2d42.4073334!3e0?hl=en">Gold Beach
          <span class="item-note">$505</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonGDestinations-list-item79" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Gold+Hill,+OR/@43.4769492,-123.6968335,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c585dc07502535:0x7a036f7522290d1a!2m2!1d-123.0506035!2d42.4317894!3e0?hl=en">Gold Hill
          <span class="item-note">$460</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonGDestinations-list-item672" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Goshen,+OR/@44.5975709,-123.5621492,10.25z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c12013d00ba1e7:0xa12e21980c5e74b2!2m2!1d-123.010278!2d43.995556!3e0?hl=en">Goshen
          <span class="item-note">$120</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonGDestinations-list-item80" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Grand+Ronde,+OR/@44.7989436,-123.5376158,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54eab92bd8225f47:0xebabd05d3609dce9!2m2!1d-123.6092771!2d45.060113!3e0?hl=en">Grande Ronde
          <span class="item-note">$170</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonGDestinations-list-item671" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Grants+Pass,+OR/@43.492346,-124.2714793,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c57a231cfb16a5:0xcba25ba08e5112d4!2m2!1d-123.3283925!2d42.4390069!3e0?hl=en">Grants Pass
          <span class="item-note">$420</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonGDestinations-list-item593" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Gresham,+OR/@45.0405537,-123.2540081,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x549575e85d2e60bb:0x9fc30a18adce5d2f!2m2!1d-122.4347334!2d45.5098388!3e0?hl=en">Gresham
          <span class="item-note">$265</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>