<ion-view title="Lebanon F Destinations" hide-nav-bar="true" id="page17" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="lebanonFDestinations-heading93" style="color:#FFFFFF;text-align:center;">LEBANON F DESTINATIONS</h5>
    <div id="lebanonFDestinations-button-bar15" class="button-bar">
      <a ui-sref="allLebanonDestinations()" id="lebanonFDestinations-button54" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedLebanon()" id="lebanonFDestinations-button55" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="lebanonFDestinations-list11">
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonFDestinations-list-item60" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Fairview,+OR/@45.0405712,-123.3082622,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x5495a2f8d314fb3d:0x55b29c693c4db956!2m2!1d-122.4333089!2d45.5425469!3e0?hl=en">Fairview (Metro)
        <span class="item-note">$275</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonFDestinations-list-item61" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Falls+City,+OR/@44.7026685,-123.3108183,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54eaa033e4dba8a7:0x15d44357eb243d7b!2m2!1d-123.4359382!2d44.8662285!3e0?hl=en">Fall City
        <span class="item-note">$110</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="lebanonFDestinations-list10">
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonFDestinations-list-item62" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Florence,+OR/@44.2696028,-123.7397004,9.75z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c180058c644705:0xdb06c064b0233adc!2m2!1d-124.099841!2d43.9826214!3e0?hl=en">Florence
          <span class="item-note">$265</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonFDestinations-list-item588" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Flynn,+OR/@44.5492776,-123.3645796,13.25z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c047f47c3d1365:0x133d2b2a4c2697f7!2m2!1d-123.38556!2d44.54111!3e0?hl=en">Flynn (Benton)
          <span class="item-note">$70</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonFDestinations-list-item63" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Forest+Grove,+OR/@45.0571539,-123.5039012,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x549505247745a3c7:0xce1e6d9cf72513f3!2m2!1d-123.1208596!2d45.5263514!3e0?hl=en">Forest Grove (Metro)
          <span class="item-note">$215</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonFDestinations-list-iteml388" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Fossil,+OR/@44.9874755,-122.7397183,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bc6d2175747d35:0x40705c635ef45a8b!2m2!1d-120.2161373!2d44.9981864!3e0?hl=en">Fossil (Wheeler)
          <span class="item-note">$540</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonFDestinations-list-item606" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Foster,+Sweet+Home,+OR/@44.4668785,-122.8459647,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c087d5b7143441:0xf1b84f522ce9fc6d!2m2!1d-122.6488328!2d44.4066108!3e0?hl=en">Foster (Linn)
          <span class="item-note">$50</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonFDestinations-list-item636" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Four+Corners,+OR/@44.7318553,-123.2074481,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bff9329ce6a9e5:0xb2fac5c954a9d2ea!2m2!1d-122.9837059!2d44.927898!3e0?hl=en">Four Corners (Marion)
          <span class="item-note">$65</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="../img/PRIDE-IN-SERVICE.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto; max-width: 400px;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>
