<ion-view title="Lebanon I Destinations" hide-nav-bar="true" id="page20" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button button-energized icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="lebanonIDestinations-heading96" style="color:#FFFFff;text-align:center;">LEBANON I DESTINATIONS</h5>
    <div id="lebanonIDestinations-button-bar18" class="button-bar">
      <a ui-sref="allLebanonDestinations()" id="lebanonIDestinations-button60" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedLebanon()" id="lebanonIDestinations-button61" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="lebanonIDestinations-list19">
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonIDestinations-list-item91" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Hwy+34+%26+I-5,+Oregon+34,+Albany,+OR/@44.5439009,-123.0202694,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c06970f0535a2b:0x8204ca8febe0d6f4!2m2!1d-123.0649683!2d44.5560888!3e0?hl=en">I-5 Exit 228 @ Hwy 34
        <span class="item-note">$25</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonIDestinations-list-item674" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Pioneer+Villa+Truck+Plaza,+33180+OR-228,+Halsey,+OR+97348/@44.4718627,-123.055261,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c05ec9d05716e9:0x4b52d4758554beb6!2m2!1d-123.0574743!2d44.3877688!3e0?hl=en">I-5 Exit 216 @ Hwy 228
        <span class="item-note">$55</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonIDestinations-list-item675" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Santiam+Rest+Area,+Oregon+99E,+Jefferson,+OR/@44.6479919,-123.1240351,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c00e7716e9d2af:0x1a31eaf8e0103111!2m2!1d-123.0529395!2d44.7413221!3e0?hl=en">I-5 Santiam Rest Area
        <span class="item-note">$65</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonIDestinations-list-item673" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Idanha,+OR/@44.7252581,-122.8507105,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bf0a0c6b3171d1:0xd34aa144cac451d7!2m2!1d-122.0786856!2d44.7026218!3e0?hl=en">Idanha
        <span class="item-note">$140</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonIDestinations-list-item92" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Independence,+OR/@44.6937543,-123.1871641,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c004832045cdd5:0x7c7d59a75feeb0b!2m2!1d-123.1867656!2d44.8512305!3e0?hl=en">Independence
        <span class="item-note">$75</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="lebanonIDestinations-list18">
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonIDestinations-list-item93" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Irrigon,+OR/@45.2106259,-122.3979538,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54a2b0246af7c8a7:0xebbd77eb4661e65a!2m2!1d-119.4914118!2d45.8956885!3e0?hl=en">Irrigon
          <span class="item-note">$565</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonIDestinations-list-item94" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Island+City,+OR/@44.6704723,-121.557116,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54a377c0b8ddbfcb:0x4cad49eb4a4cfef8!2m2!1d-118.0446618!2d45.3409671!3e0?hl=en">Island City
          <span class="item-note">$580</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="../img/rotateTires.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto; max-width: 400px;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>