<ion-view title="Lebanon L Destinations" hide-nav-bar="true" id="page24" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="lebanonLDestinations-heading100" style="color:#FFFFFF;text-align:center;">LEBANON L DESTINATIONS</h5>
    <div id="lebanonLDestinations-button-bar22" class="button-bar">
      <a ui-sref="allLebanonDestinations()" id="lebanonLDestinations-button68" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedLebanon()" id="lebanonLDestinations-button69" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="lebanonLDestinations-list28">
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonLDestinations-list-item137" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Labish+Village,+OR/@44.7775252,-123.2069627,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x5495562e531a7b61:0xc76199f030294ea5!2m2!1d-122.9723179!2d45.0192862!3e0?hl=en">Labish Village (Marion)
        <span class="item-note">$90</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonLDestinations-list-item641" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Lacomb,+OR/@44.5475024,-122.8596492,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c079fca5c8fa57:0x8fbf162287c2e7ab!2m2!1d-122.74222!2d44.58528!3e0?hl=en">Lacomb (Linn)
        <span class="item-note">$35</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonLDestinations-list-item138" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Lafayette,+OR/@44.9123697,-123.6428859,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x5495465f4c66e8b3:0x2a08e87c5cc0b72a!2m2!1d-123.1121766!2d45.2434865!3e0?hl=en">Lafayette
        <span class="item-note">$160</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="lebanonLDestinations-list27">
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonLDestinations-list-item139" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/La+Grande,+OR/@44.6704723,-121.557116,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54a3634e4c6fda9b:0x1946bbd770b72b8e!2m2!1d-118.0877188!2d45.3245771!3e0?hl=en">La Grande
          <span class="item-note">$675</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonLDestinations-list-item140" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Lake+Oswego,+OR/@44.9760335,-123.4297396,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x549573696ea1cd0d:0x74f8f3c56ba1980d!2m2!1d-122.7159726!2d45.4156817!3e0?hl=en">Lake Oswego
          <span class="item-note">$265</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonLDestinations-list-item141" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Lakeside,+OR/@44.1261117,-124.1094669,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c3951f6bca65b3:0x587f87d903739e6!2m2!1d-124.1751135!2d43.5756704!3e0?hl=en">Lakeside
          <span class="item-note">$355</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonLDestinations-list-item142" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Lakeview,+OR/@42.9196807,-121.7272988,8z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c993d627bd940d:0x8ba8c95e38943b69!2m2!1d-120.345792!2d42.1887721!3e0?hl=en">Lakeview
          <span class="item-note">$675</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonLDestinations-list-item143" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/La+Pine,+OR/@44.0080938,-122.7426752,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54b882ee605a1851:0x8d0493ec291fa151!2m2!1d-121.503636!2d43.6703995!3e0?hl=en">La Pine
          <span class="item-note">$380</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonLDestinations-list-item597" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Lewisburg,+OR/@44.5919834,-123.1525035,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c0157d9d82b105:0x4915084553635f96!2m2!1d-123.2425433!2d44.6238594!3e0?hl=en">Lewisburg (Benton)
          <span class="item-note">$70</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonLDestinations-list-item145" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Lincoln+City,+OR/@44.8039281,-123.7418934,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54ea8d760b76bd77:0x71530e6a7d2ce862!2m2!1d-124.0178914!2d44.9581644!3e0?hl=en">Lincoln City
          <span class="item-note">$220</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonLDestinations-list-item146" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Lowell,+OR/@44.2319456,-123.2014639,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c0d4119ac6e329:0x4c82714ecdd2ab17!2m2!1d-122.7836822!2d43.9184592!3e0?hl=en">Lowell
          <span class="item-note">$150</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonLDestinations-list-item147" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Lyons,+OR/@44.6625075,-122.922974,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bf8d69e4e93fdd:0x57a9757ad319992b!2m2!1d-122.6150855!2d44.7745664!3e0?hl=en">Lyons
          <span class="item-note">$90</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>