<ion-view title="Lebanon S Destinations" hide-nav-bar="true" id="page30" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="lebanonSDestinations-heading107" style="color:#FFFFFF;text-align:center;">LEBANON S DESTINATIONS</h5>
    <div id="lebanonSDestinations-button-bar28" class="button-bar">
      <a ui-sref="allLebanonDestinations()" id="lebanonSDestinations-button80" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedLebanon()" id="lebanonSDestinations-button81" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="lebanonSDestinations-list44">
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonSDestinations-list-item662" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Saint+Louis,+OR/@44.829564,-123.2069627,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54955bcbfbddc46f:0xab76b0fb5faa1474!2m2!1d-122.9423191!2d45.1226192!3e0?hl=en">Saint Louis (Marion)
        <span class="item-note">$105</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonSDestinations-list-item232" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Saint+Paul,+OR/@44.8734969,-123.2641335,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x5495436d9c14154b:0x5163d806987868ba!2m2!1d-122.9767662!2d45.2112295!3e0?hl=en">Saint Paul
        <span class="item-note">$150</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="lebanonSDestinations-list43">
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonSDestinations-list-item233" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Salem,+OR/@44.7395421,-123.2641336,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bffefcbc4b9c63:0xf93429e08f0357c2!2m2!1d-123.0350963!2d44.9428975!3e0?hl=en">Salem
          <span class="item-note">$60-$75</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonSDestinations-list-item234" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Sandy,+OR/@45.0405537,-123.2233417,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54958530cb72957b:0x4ca17c849214846c!2m2!1d-122.2704417!2d45.3975203!3e0?hl=en">Sandy
          <span class="item-note">$220</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonSDestinations-list-item622" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Santiam+Junction+State+Airport,+13000+Hwy+20,+Sisters,+OR+97759/@44.4595288,-122.7048623,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bf6c7f2fa5a1d5:0x78171e8b42a4a38!2m2!1d-121.942276!2d44.434555!3e0?hl=en">Santiam Junction (Linn)
          <span class="item-note">$175</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonSDestinations-list-item235" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Scappoose,+OR/@45.1440827,-123.3729761,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x549454f7f199809b:0xee67a39ba5cac04a!2m2!1d-122.8777897!2d45.7544422!3e0?hl=en">Scappoose
          <span class="item-note">$260</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonSDestinations-list-item236" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Scio,+OR/@44.6206255,-122.9678076,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bf8a16881681d1:0xac9af3a75b2f62b1!2m2!1d-122.8492562!2d44.7048445!3e0?hl=en">Scio
          <span class="item-note">$45</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonSDestinations-list-item237" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Scotts+Mills,+OR/@44.7945369,-123.1455772,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bfe83afad6d7c3:0x8a8da2c8b12fe330!2m2!1d-122.6684215!2d45.0428996!3e0?hl=en">Scotts Mills
          <span class="item-note">$120</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonSDestinations-list-item238" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Seaside,+OR/@45.2593196,-124.456828,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x5493612cb60e6667:0x8d640cf4541bfd22!2m2!1d-123.9226385!2d45.9931636!3e0?hl=en">Seaside
          <span class="item-note">$380</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonSDestinations-list-item239" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Shady+Cove,+OR/@43.5804013,-123.6870299,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c58f7c7bba49eb:0xacde5a4676a79734!2m2!1d-122.8118529!2d42.6150389!3e0?hl=en">Shady Cove
          <span class="item-note">$470</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonSDestinations-list-item661" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Shaw,+OR/@44.7252581,-123.2074481,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bff75c13258e3f:0x91cfd1fe177a525f!2m2!1d-122.8720357!2d44.8728991!3e0?hl=en">Shaw (Marion)
          <span class="item-note">$80</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonSDestinations-list-item240" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Shedd,+OR/@44.5084139,-123.0795606,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c05cd0898a04cf:0x7ef4350bebe455be!2m2!1d-123.1103714!2d44.4615117!3e0?hl=en">Shedd (Linn)
          <span class="item-note">$40</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonSDestinations-list-item623" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Sheridan,+OR/@44.8175967,-123.4399699,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54eab3bf266a83c1:0xa2102fc4ac23ba6a!2m2!1d-123.3948291!2d45.0992814!3e0?hl=en">Sheridan
          <span class="item-note">$125</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonSDestinations-list-item241" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Sherwood,+OR/@44.9474625,-123.4297396,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54954018a273aa69:0x917e95d40682dbb7!2m2!1d-122.8402122!2d45.3562638!3e0?hl=en">Sherwood
          <span class="item-note">$250</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonSDestinations-list-item242" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Siletz,+OR/@44.6288913,-123.7116582,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54ea80149f0c22e9:0xf8ac007146a833bf!2m2!1d-123.9201129!2d44.7217836!3e0?hl=en">Siletz
          <span class="item-note">$175</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonSDestinations-list-item243" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Silverton,+OR/@44.7638712,-123.0882328,10.5z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bfe07bc11de4c7:0xf4653d5a2e468349!2m2!1d-122.7831455!2d45.0051213!3e0?hl=en">Silverton
          <span class="item-note">$80</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonSDestinations-list-item244" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Sisters,+OR/@44.413388,-122.5083303,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bf30b47c2cf1a9:0x85dd298592775554!2m2!1d-121.5492119!2d44.2909491!3e0?hl=en">Sisters
          <span class="item-note">$245</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonSDestinations-list-item255" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Sodaville,+OR/@44.510115,-122.9226928,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c064695dd98f6f:0xd573a90077360644!2m2!1d-122.8690294!2d44.4837288!3e0?hl=en">Sodaville
          <span class="item-note">$20</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonSDestinations-list-item256" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Springfield,+OR/@44.3008549,-123.1829981,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c0de472e7002bf:0x536dbe99c4a3fd6!2m2!1d-123.0220289!2d44.0462362!3e0?hl=en">Springfield
          <span class="item-note">$105</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonSDestinations-list-item231" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/St+Helens,+OR/@45.1963402,-123.4282157,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x5494504918501a59:0x9a4c0b8e9efc14b4!2m2!1d-122.8212299!2d45.8589719!3e0?hl=en">St Helens
          <span class="item-note">$285</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonSDestinations-list-item257" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Stanfield,+OR/@45.1829528,-122.2538632,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54a2c71691edcd59:0xd9eb99e652d348de!2m2!1d-119.2172351!2d45.7804098!3e0?hl=en">Stanfield
          <span class="item-note">$710</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonSDestinations-list-item258" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Stayton,+OR/@44.668519,-123.0125939,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bff43f5749ab23:0xb2fc3c384eaf50e1!2m2!1d-122.7945333!2d44.8006775!3e0?hl=en">Stayton
          <span class="item-note">$60</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonSDestinations-list-item259" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Sublimity,+OR/@44.6829223,-123.0125566,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bff6ac0d5b8a5b:0x729587a6c6ac3ad1!2m2!1d-122.7945335!2d44.8295663!3e0?hl=en">Sublimity
          <span class="item-note">$90</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonSDestinations-list-item601" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Summit,+OR/@44.6433742,-123.3823377,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c03018285c9113:0xc6eb8d723549648!2m2!1d-123.5775!2d44.638056!3e0?hl=en">Summit (Benton)
          <span class="item-note">$105</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonSDestinations-list-item260" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Sutherlin,+OR/@43.9720342,-123.6792964,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c41fe6c61d89ab:0xa7c8c69d58166626!2m2!1d-123.3125763!2d43.3901177!3e0?hl=en">Sutherlin
          <span class="item-note">$260</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonSDestinations-list-item261" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+Oregon+97355/Sweet+Home,+OR/@44.4687547,-122.8916766,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c0885f05da20c1:0x4a54043a7d0eefe4!2m2!1d-122.7361958!2d44.3976247!3e0?hl=en">Sweet Home
          <span class="item-note">$35</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="../img/rotateTires.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>