<ion-view title="Lebanon H Destinations" hide-nav-bar="true" id="page19" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button button-energized icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="lebanonHDestinations-heading95" style="color:#FFFFFF;text-align:center;">LEBANON H DESTINATIONS</h5>
    <div id="lebanonHDestinations-button-bar17" class="button-bar">
      <a ui-sref="allLebanonDestinations()" id="lebanonHDestinations-button58" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedLebanon()" id="lebanonHDestinations-button59" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="lebanonHDestinations-list17">
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonHDestinations-list-item82" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Halsey,+OR/@44.4705999,-123.0795606,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c05963fb8b8651:0x95a12d8c1acf7aff!2m2!1d-123.1098145!2d44.3840122!3e0?hl=en">Halsey
        <span class="item-note">$55</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonHDestinations-list-item83" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Happy+Valley,+OR/@44.9903113,-123.3570338,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54959e1634949403:0xfa241df61eb192a0!2m2!1d-122.5309127!2d45.4469139!3e0?hl=en">Happy Valley
        <span class="item-note">$250</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="lebanonHDestinations-list14">
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonHDestinations-list-item84" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Harris,+OR/@44.5919192,-123.322901,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c039d92d152857:0xf91e13329f64b487!2m2!1d-123.4601035!2d44.5781755!3e0?hl=en">Harris (Benton)
          <span class="item-note">$85</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonHDestinations-list-item639" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Harrisburg,+OR/@44.4151965,-123.1790675,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c0f762b218dcf5:0x66fe778e91281c5b!2m2!1d-123.170648!2d44.2740123!3e0?hl=en">Harrisburg
          <span class="item-note">$80</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonHDestinations-list-item638" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Hayesville,+OR/@44.7610737,-123.2074481,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bffdc52af0526b:0x71bc327c8223ef0!2m2!1d-122.9828732!2d44.985953!3e0?hl=en">Hayesville (Marion)
          <span class="item-note">$70</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonHDestinations-list-item85" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Heppner,+OR/@45.0222019,-122.4290191,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bcde9fefa0ff5f:0x8c43eb5baecaeb35!2m2!1d-119.5577997!2d45.3531842!3e0?hl=en">Heppner
          <span class="item-note">$540</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonHDestinations-list-item86" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Hermiston,+OR/@45.0498796,-122.296979,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54a2b9026e29d2d7:0x82ea06f10bd63cbb!2m2!1d-119.2894604!2d45.8404101!3e0?hl=en">Hermiston
          <span class="item-note">$535</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonHDestinations-list-item87" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Hillsboro,+OR/@45.0270728,-123.4756433,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x5495055f56bce579:0x7d29ff866a33ed86!2m2!1d-122.9365835!2d45.5200114!3e0?hl=en">Hillsboro
          <span class="item-note">$260</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonHDestinations-list-item88" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Hines,+OR/@44.0039825,-122.1930406,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54b0a9917b999775:0x316703cd20fbb43c!2m2!1d-119.0810481!2d43.5640385!3e0?hl=en">Hines
          <span class="item-note">$555</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonHDestinations-list-item608" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Holley,+OR/@44.4452932,-122.9626782,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c08bbf397c559d:0x32daaa81e2fd4236!2m2!1d-122.7838197!2d44.3547389!3e0?hl=en">Holley (Linn)
          <span class="item-note">$45</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonHDestinations-list-item89" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Hood+River,+OR/@45.1232741,-122.8477334,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54960e614c1c0fe7:0x56f6cf7e4d7d985c!2m2!1d-121.5214623!2d45.7053966!3e0?hl=en">Hood River
          <span class="item-note">$335</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonHDestinations-list-item287" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Hoskins,+OR/@44.6433742,-123.3265992,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c03b504ab27b0f:0x2503cbf9ef3d652e!2m2!1d-123.4674999!2d44.676944!3e0?hl=en">Hoskins
          <span class="item-note">$95</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonHDestinations-list-item90" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Hubbard,+OR/@44.8590533,-123.215246,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x5495594264fc0fef:0x11e54ab22802530b!2m2!1d-122.8078717!2d45.1823423!3e0?hl=en">Hubbard
          <span class="item-note">$130</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonHDestinations-list-iteml90" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Huntington,+OR/@44.6579097,-122.2478469,7z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54a516aee7c54a2b:0xeea7b3dafb090f58!2m2!1d-117.2665686!2d44.3512726!3e0?hl=en">Huntington
          <span class="item-note">$850</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="../img/white_cabbie.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>