<ion-view title="Lebanon A Destinations" hide-nav-bar="true" id="page10" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="lebanonADestinations-heading34" style="color:#FFFFFF;text-align:center;">LEBANON A DESTINATIONS</h5>
    <div id="lebanonADestinations-button-bar10" class="button-bar">
      <a ui-sref="allLebanonDestinations()" id="lebanonADestinations-button7" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedLebanon()" id="lebanonADestinations-button8" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <ion-list id="lebanonADestinations-list15">
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonADestinations-list-item115" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Adair+Village,+OR/@44.6044443,-123.1525035,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c03e24457c6a49:0x79530b216dd34b67!2m2!1d-123.2178759!2d44.6706762!3e0?hl=en">Adair Village
        <span class="item-note">$65</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonADestinations-list-item296" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Agate+Beach,+Newport,+OR/@44.6075284,-123.7631673,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54ea78c136072391:0xc128d4c7dedc5261!2m2!1d-124.0604389!2d44.6752455!3e0?hl=en">Agate Beach
        <span class="item-note">$215</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonADestinations-list-item297" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Airlie,+OR/@44.6431706,-123.2574979,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c019b5558e1515:0xed4ed4a9bb302828!2m2!1d-123.3284!2d44.750069!3e0?hl=en">Airlie (Polk)
        <span class="item-note">$95</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonADestinations-list-item330" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Albany,+OR/@44.5919834,-123.0797025,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c0175e11d847bf:0x1fd5d9f06960a700!2m2!1d-123.1059282!2d44.6365107!3e0?hl=en">Albany
        <span class="item-note">$35</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonADestinations-list-item579" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Alder,+OR/@44.5919192,-123.3577862,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c037361cc1f135:0x4a060d79663dc350!2m2!1d-123.50778!2d44.5825!3e0?hl=en">Alder (Benton)
        <span class="item-note">$100</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonADestinations-list-item295" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Aloha,+OR/@45.0139961,-123.4633398,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54950e1a8eb291ef:0x77e51e5dcba26b64!2m2!1d-122.8670454!2d45.4942838!3e0?hl=en">Aloha (Metro)
        <span class="item-note">$255</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonADestinations-list-item578" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Alpine,+OR/@44.4099938,-123.2763998,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c0530ba212554f:0xc0c34bc81585b5eb!2m2!1d-123.3603768!2d44.3301223!3e0?hl=en">Alpine (Benton)
        <span class="item-note">$100</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonADestinations-list-item580" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Alsea,+OR/@44.514639,-123.3913655,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c1b0e40f6796b3:0x6a9f11246338321c!2m2!1d-123.5970325!2d44.3818831!3e0?hl=en">Alsea (Benton)
        <span class="item-note">$110</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonADestinations-list-item116" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Amity,+OR/@44.8257154,-123.3626456,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54954d6c6799c695:0xf065f26595ff983c!2m2!1d-123.2073257!2d45.1156724!3e0?hl=en">Amity
        <span class="item-note">$100</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonADestinations-list-item117" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Arlington,+OR/@44.999276,-122.7526814,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bd660ef7e51b29:0x9d38346ba96993f2!2m2!1d-120.2008761!2d45.716796!3e0?hl=en">Arlington
        <span class="item-note">$500</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonADestinations-list-item122" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Ashland,+OR/@43.3641563,-123.6968348,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54cf628cb4eedb55:0x9b3b1fb8782df1ad!2m2!1d-122.7094767!2d42.1945758!3e0?hl=en">Ashland
        <span class="item-note">$500</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonADestinations-list-item118" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Astoria,+OR/@45.3602792,-124.4222064,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54937b440995fb8b:0xf7dd72f1a11b8abf!2m2!1d-123.8312534!2d46.1878841!3e0?hl=en">Astoria
        <span class="item-note">$410</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonADestinations-list-item119" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Athena,+OR/@45.0493246,-121.8974924,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54a257b57395cf9d:0x456faa7b208b1e22!2m2!1d-118.4905251!2d45.8117992!3e0?hl=en">Athena
        <span class="item-note">$700</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonADestinations-list-item120" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Aumsville,+OR/@44.6912558,-123.0684339,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bff7044292ccc9:0xa00c6d0e988c26a0!2m2!1d-122.8709243!2d44.8409548!3e0?hl=en">Aumsville
        <span class="item-note">$80</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonADestinations-list-item121" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Aurora,+OR/@44.8850441,-123.1892747,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x5495658d4c1b2c1d:0x28a452aabedfcf4!2m2!1d-122.7559267!2d45.2309536!3e0?hl=en">Aurora
        <span class="item-note">$155</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonADestinations-list-itemL121" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Azalea,+OR/@43.6724037,-124.2617086,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c5ba0d1276f27f:0xb2f8ef45b62bf3e2!2m2!1d-123.2603401!2d42.7953981!3e0?hl=en">Azalea
        <span class="item-note">$370</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div id="lebanonADestinations-markdown23" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:10px;">If you are uncertain about the location of the destination, just tap the destination again and let Google Maps show you the way.</p>
    </div>
    <div class="spacer" style="height: 25px;"></div>
  </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>