<ion-view title="Lebanon D Destinations" hide-nav-bar="true" id="page16" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"> BACK</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(../img/appbackgroundwithlogos.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="max-container">
    <div>
      <img src="../img/FAREPRICEICON.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="lebanonDDestinations-heading91" style="color:#FFFFFF;text-align:center;">LEBANON D DESTINATIONS</h5>
    <div id="lebanonDDestinations-markdown27" class="show-list-numbers-and-dots"></div>
    <div id="lebanonDDestinations-button-bar14" class="button-bar">
      <a ui-sref="allLebanonDestinations()" id="lebanonDDestinations-button52" class="button button-energized button-block icon-left ion-android-arrow-back">BACK</a>
      <a ui-sref="frequentlyUsedLebanon()" id="lebanonDDestinations-button53" class="button button-energized button-block icon-right ion-android-arrow-forward">FREQUENT</a>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="lebanonDDestinations-list33">
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonDDestinations-list-item245" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Dallas,+OR/@44.7276,-123.3914717,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54eaa7d81be20d83:0x3f0cf3d12c451470!2m2!1d-123.3170472!2d44.9192844!3e0?hl=en">Dallas
        <span class="item-note">$95</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonDDestinations-list-item144" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Dallas,+OR/@44.7276,-123.3914717,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54eaa7d81be20d83:0x3f0cf3d12c451470!2m2!1d-123.3170472!2d44.9192844!3e0?hl=en">Damascus (Metro)
        <span class="item-note">$250</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonDDestinations-list-item246" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Dayton,+OR/@44.8782905,-123.3626455,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x5495442d5a9873cf:0xdaab638d07be3397!2m2!1d-123.0835549!2d45.2163886!3e0?hl=en">Dayton
        <span class="item-note">$135</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right energized fare-list-item" id="lebanonDDestinations-list-item586" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Dawson,+OR/@44.4099938,-123.2988784,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c0528fc209c39d:0x7752c5ad77caf4ec!2m2!1d-123.410556!2d44.360833!3e0?hl=en">Dawson (Benton)
        <span class="item-note">$110</span>
        <i class="icon ion-android-pin icon-accessory"></i>
      </ion-item>
      <ion-list id="lebanonDDestinations-list32">
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonDDestinations-list-item247" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Deerhorn,+OR/@44.3008135,-123.1829981,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c0c289e268cddb:0x10d9aead97255675!2m2!1d-122.74722!2d44.08194!3e0?hl=en">Deerhorn
          <span class="item-note">$150</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonDDestinations-list-item300" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Depoe+Bay,+OR/@44.8039281,-123.7694091,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54ea7d5886582913:0xfdbc8343127bfd2f!2m2!1d-124.0631713!2d44.8084467!3e0?hl=en">Depoe Bay
          <span class="item-note">$210</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonDDestinations-list-item248" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Detroit,+OR/@44.6691449,-122.8716384,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bfa3a7b5daf39b:0xa9891ea95df07c0c!2m2!1d-122.1497982!2d44.7340108!3e0?hl=en">Detroit
          <span class="item-note">$140</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonDDestinations-list-item249" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Donald,+OR/@44.87956,-123.207448,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x549567e217404bc3:0x931e446941c893ed!2m2!1d-122.8392624!2d45.2223418!3e0?hl=en">Donald
          <span class="item-note">$135</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonDDestinations-list-item250" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Drain,+OR/@44.1063551,-123.673419,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c14c28d28d721f:0xddcd4f6ab1b9db23!2m2!1d-123.3186987!2d43.6587309!3e0?hl=en">Drain
          <span class="item-note">$220</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonDDestinations-list-item251" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Dufur,+OR/@44.9855323,-123.114206,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54bdf068c8e8d63f:0xbe29d084c6b88cd7!2m2!1d-121.1306244!2d45.4531754!3e0?hl=en">Dufur
          <span class="item-note">$425</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonDDestinations-list-item252" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Dundee,+OR/@44.9123697,-123.6428859,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x5495410a8482f90d:0xf05d52e84b3b53bc!2m2!1d-123.0095137!2d45.2795854!3e0?hl=en">Dundee
          <span class="item-note">$160</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonDDestinations-list-item253" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Dunes+City,+OR/@44.2253737,-123.7324177,9.75z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x54c3d4303010e95b:0xb4c313771129f70d!2m2!1d-124.1151165!2d43.8831751!3e0?hl=en">Dunes City
          <span class="item-note">$290</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonDDestinations-list-itema253" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Dunthorpe,+OR/@44.9847183,-123.3729755,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x549574c46cc77103:0x1f088f63b884168e!2m2!1d-122.6550941!2d45.4356748!3e0?hl=en">Dunthorpe &#40;Metro&#41;
          <span class="item-note">$300</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right energized fare-list-item" id="lebanonDDestinations-list-item254" href-inappbrowser="https://www.google.com/maps/dir/Lebanon,+OR/Durham,+OR/@45.0342613,-123.1995784,9.5z/data=!4m14!4m13!1m5!1m1!1s0x54c0657f0d6d3f8b:0x5236cc4438be645f!2m2!1d-122.9070339!2d44.5365119!1m5!1m1!1s0x549572eadacdfde1:0xeedb816112025b27!2m2!1d-122.755576!2d45.3934963!3e0?hl=en">Durham
          <span class="item-note">$250</span>
          <i class="icon ion-android-pin icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="../img/driversNoSmokingSign.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    </div>
    <p>
      ©
      <b>2019</b> All Star Taxi
    </p>
  </ion-content>
</ion-view>
